n8n/AI 개인 비서 (2).json
{
  "name": "AI 개인 비서",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('날씨 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        16
      ],
      "id": "3fa16a00-2c81-4dc3-b107-8481399cbd6d",
      "name": "날씨",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('식사 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        752
      ],
      "id": "83773336-d72b-4a19-a36c-0f4c2edcdf39",
      "name": "식사",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('이메일 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        416
      ],
      "id": "48ba2f30-c54d-4677-969a-8f0530dc3426",
      "name": "이메일",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "diary",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "keyName": "date",
              "condition": "eq",
              "keyValue": "={{ $('일기 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        1088
      ],
      "id": "57124674-c491-495a-b905-4f2be81e5959",
      "name": "일기",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "schedule",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('일정 감지').item.json.body.user_id }}"
            },
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ $('일정 감지').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        1424
      ],
      "id": "75e4a168-bbe4-458e-806f-690e7e86b5e0",
      "name": "일정",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        176
      ],
      "id": "086db28b-1d7f-44cd-854b-e2dabd31c924",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        576
      ],
      "id": "b48169c1-7fc7-4830-8547-133f362b275b",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('체중 관리 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        1792
      ],
      "id": "17ed1d76-10e2-412a-bd78-476f18c60ce3",
      "name": "체중 관리",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        912
      ],
      "id": "c5196109-570c-44e7-937e-58aa4857369a",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        1584
      ],
      "id": "347c3b42-79d0-4bbd-9c0e-8df4719cfd07",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        1952
      ],
      "id": "3e0a2883-91b1-430f-af3f-f3d50caf438a",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        2352
      ],
      "id": "b3b555af-abaf-401e-920e-0539c6bee802",
      "name": "OpenAI Chat Model9",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61c3e6ef-2aca-4688-a6e6-4fcb3604f142",
              "leftValue": "={{ $('일기 입력').item.json.body.is_update }}",
              "rightValue": "=$('일기 입력').item.json.body.date",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        1088
      ],
      "id": "a6b2fa72-5c60-4843-bdd6-e34ad2288c08",
      "name": "정보 수정 여부3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c11a2117-d600-4964-a0d1-bd9a0dbf1517",
              "leftValue": "={{ $('일정 감지').item.json.body.is_update }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        1424
      ],
      "id": "1de9622d-e3ff-4b43-bb63-433fb7fbae64",
      "name": "정보 수정 여부4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f4fba71-b64e-4077-86ef-31f2ce0829bb",
              "name": "=city",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "6533784d-6462-4671-a047-833f44e9b434",
              "name": "village",
              "value": "={{ $json.village }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        16
      ],
      "id": "58a361cf-bb8d-4107-8cda-c2a366ecc015",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e37d405-12db-4c75-99e4-f7b388b0c6ff",
              "name": "email_provider",
              "value": "={{ $json.email_provider }}",
              "type": "string"
            },
            {
              "id": "08329724-6812-417e-ab71-b4a77ea607fb",
              "name": "email_address",
              "value": "={{ $json.email_address }}",
              "type": "string"
            },
            {
              "id": "cac79e59-c304-4c46-bf91-e99abf41538f",
              "name": "email_app_pw",
              "value": "={{ $json.email_app_pw }}",
              "type": "string"
            },
            {
              "id": "940e35e7-be7d-4af1-9fdc-32b3c89ccc21",
              "name": "email_last_uid",
              "value": "={{ $json.email_last_uid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        416
      ],
      "id": "7ffdda27-0636-40ac-8e9a-a21dfb6c0931",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a72e9f3-ec0b-4cbe-8f3c-e145a785f162",
              "name": "breakfast_time",
              "value": "={{ $json.breakfast_time }}",
              "type": "string"
            },
            {
              "id": "0eaa2050-51ba-41b4-b014-9f9be4da0ba9",
              "name": "lunch_time",
              "value": "={{ $json.lunch_time }}",
              "type": "string"
            },
            {
              "id": "0d39361f-dc91-4e94-acf3-1f6987d471a1",
              "name": "dinner_time",
              "value": "={{ $json.dinner_time }}",
              "type": "string"
            },
            {
              "id": "d2bd5f3e-ab04-4950-b7f7-a1cb1131b3e2",
              "name": "snack_time",
              "value": "={{ $json.snack_time }}",
              "type": "string"
            },
            {
              "id": "ada7a69c-d901-4cf4-9c2d-445fb4b85f5a",
              "name": "daily_cal_target",
              "value": "={{ $json.daily_cal_target }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        752
      ],
      "id": "fe78060e-ca06-44a3-a280-8ef498d530fc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fcb9101-619d-4e9c-b42a-d9009832a5bb",
              "name": "init_weight",
              "value": "={{ $json.init_weight }}",
              "type": "string"
            },
            {
              "id": "d58ee86a-9c49-43ef-add3-1818b6816f47",
              "name": "goal_weight",
              "value": "={{ $json.goal_weight }}",
              "type": "string"
            },
            {
              "id": "2f17df6b-f04c-4133-ba6f-741bc03d49ab",
              "name": "daily_cal_target",
              "value": "={{ $json.daily_cal_target }}",
              "type": "string"
            },
            {
              "id": "12d8a1f0-bd49-4f99-8d44-2dc3e193655a",
              "name": "height",
              "value": "={{ $json.height }}",
              "type": "string"
            },
            {
              "id": "0380067a-abd1-4aad-9033-863ad952ca32",
              "name": "gender",
              "value": "={{ $json.gender }}",
              "type": "string"
            },
            {
              "id": "9f98027c-fa88-411a-b378-811371a08808",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        1792
      ],
      "id": "40a92f40-023a-45f5-bfd3-1114384bf7ac",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8504dcc-17cd-4628-9c6f-cec43cec345f",
              "name": "allergies",
              "value": "={{ $('유저 정보').item.json.allergies }}",
              "type": "string"
            },
            {
              "id": "ad81680a-5232-4a52-b87d-552f80ec3c43",
              "name": "food_preferences",
              "value": "={{ $('유저 정보').item.json.food_preferences }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        2176
      ],
      "id": "884ee0da-28bf-4623-abd6-a0388c1d900d",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        2448
      ],
      "id": "5614e5ca-f1cb-4ea8-b304-0dd120cf6036",
      "name": "피드백",
      "webhookId": "5152b752-2221-467a-b7ff-d7cbe9945eab"
    },
    {
      "parameters": {
        "tableId": "food_feedback"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1120,
        2448
      ],
      "id": "b068614f-8425-4c37-bee6-bb255cc808aa",
      "name": "Create a row6",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/local.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.location }} 맛집"
            },
            {
              "name": "display",
              "value": "5"
            },
            {
              "name": "sort",
              "value": "comment"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "JfJ0onrVO11ueDgLe3kI"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "DRlVrHplFn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        2832
      ],
      "id": "43dc2e1e-a0e9-457f-b4e5-452f7d70289b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 날씨 정보를 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('날씨 입력').item.json.body.message_past}}\n\n[사용자 위치]\ncity: {{ $('Edit Fields').item.json.city }}\nvillage: {{ $('Edit Fields').item.json.village }}\n\n위 정보를 바탕으로 날씨 정보를 조회하고\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"city\": \"도시명\",\n  \"temperature\": 기온(숫자),\n  \"condition\": \"맑음/흐림/비/눈 중 하나\",\n  \"humidity\": 습도(숫자),\n  \"dust_level\": \"좋음/보통/나쁨/매우나쁨 중 하나\",\n  \"summary\": \"날씨 한 줄 요약\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        16
      ],
      "id": "503bc74a-0a60-478a-a7de-9d1e710324ce",
      "name": "WeatherBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 이메일을 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('이메일 입력').item.json.body.message }}\n\n[사용자 이메일 정보]\nemail_provider: {{ $('Edit Fields1').item.json.email_provider }}\nemail_address: {{ $('Edit Fields1').item.json.email_address }}\nemail_app_pw: {{ $('Edit Fields1').item.json.email_app_pw }}\nemail_last_uid: {{ $('Edit Fields1').item.json.email_last_uid }}\n\n위 정보를 바탕으로 이메일을 처리하고\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[규칙]\n- summary는 이메일 핵심 내용을 50자 이내로 요약\n- is_read는 처리 후 항상 true\n\n[출력 형식]\n{\n  \"sender\": \"발신자 이메일\",\n  \"subject\": \"이메일 제목\",\n  \"summary\": \"핵심 내용 요약\",\n  \"is_read\": true,\n  \"uid\": \"이메일 UID\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        416
      ],
      "id": "6182daf8-d1d3-4eb1-b8a5-eddf0f39626b",
      "name": "EmailBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 식사 정보를 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('식사 입력').item.json.body.message_past}}\n\n[사용자 기본 정보]\nbreakfast_time: {{ $('Edit Fields2').item.json.breakfast_time }}\nlunch_time: {{ $('Edit Fields2').item.json.lunch_time }}\ndinner_time: {{ $('Edit Fields2').item.json.dinner_time }}\ndaily_cal_target: {{ $('Edit Fields2').item.json.daily_cal_target }}\n\n위 정보를 바탕으로 식사 내용을 파악하고 칼로리를 계산해서\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[meal_type 규칙]\n- 아침(06:00~10:00): \"breakfast\"\n- 점심(10:00~15:00): \"lunch\"\n- 저녁(15:00~21:00): \"dinner\"\n- 그 외 또는 간식: \"snack\"\n- 사용자가 직접 언급하면 해당 값 사용\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"meal_type\": \"breakfast/lunch/dinner/snack 중 하나\",\n  \"food_name\": \"음식 이름\",\n  \"calories\": 칼로리(숫자),\n  \"summary\": \"식사 한 줄 요약\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        752
      ],
      "id": "f234401d-2e39-463c-b0d3-a4289f2d4c0f",
      "name": "MealBOT"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=당신은 사용자의 일정을 관리하는 AI입니다.\n오늘 날짜는 {{ $now.toFormat('yyyy-MM-dd') }}입니다.\n\n[사용자 메시지]\n{{ $('일정 감지').item.json.body.message_future }}\n\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[규칙]\n- 시간이 언급되지 않으면 time은 빈 문자열\n- 장소가 언급되지 않으면 location은 빈 문자열\n- is_done은 항상 false\n\n[출력 형식]\n{\n  \"title\": \"일정 제목\",\n  \"description\": \"일정 상세 내용\",\n  \"location\": \"장소 또는 빈 문자열\",\n  \"date\": \"yyyy-MM-dd\",\n  \"time\": \"HH:mm 또는 빈 문자열\",\n  \"is_done\": false\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        1424
      ],
      "id": "f50f279b-061a-4db9-9e74-665542877074",
      "name": "ScheduleBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 체중과 건강을 관리하는 AI입니다.\n오늘 날짜는 {{ $now.toFormat('yyyy-MM-dd') }}입니다.\n\n[사용자 메시지]\n{{ $('체중 관리 입력').item.json.body.message_past }}\n\n[사용자 기본 정보]\nheight: {{ $('Edit Fields5').item.json.height }}\ngender: {{ $('Edit Fields5').item.json.gender }}\nage: {{ $('Edit Fields5').item.json.age }}\ninit_weight: {{ $('Edit Fields5').item.json.init_weight }}\ngoal_weight: {{ $('Edit Fields5').item.json.goal_weight }}\ndaily_cal_target: {{ $('Edit Fields5').item.json.daily_cal_target }}\n\n위 정보를 바탕으로 반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[BMI 계산 공식]\nBMI = 체중(kg) ÷ (키(m) × 키(m))\n소수점 첫째 자리까지 반올림\n\n[규칙]\n- 체중 언급이 없으면 weight와 bmi 둘 다 null로 출력\n- 체중 언급이 있을 때만 BMI 계산 후 출력\n- note는 오늘 식사/운동 내용 기반으로 건강 관련 한 줄 메모\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"weight\": 체중(숫자) 또는 null,\n  \"bmi\": BMI(숫자) 또는 null,\n  \"note\": \"건강 관련 한 줄 메모\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -624,
        1792
      ],
      "id": "f32425e4-3de2-4bea-b0f6-83dadfa7c65e",
      "name": "WeightManageBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 음식 취향에 맞는 식당을 추천하는 AI입니다.\n\n[사용자 정보]\nfood_preferences: {{ $('Edit Fields6').item.json.food_preferences }}\nallergies: {{ $('Edit Fields6').item.json.allergies }}\n\n[추천 가능한 식당 목록]\n{{ $('식당 메뉴 연동').all().map(r => JSON.stringify(r.json)).join('\\n') }}\n\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n마크다운 코드블록(```) 절대 사용 금지.\n\n[추천 규칙]\n- allergies에 해당하는 알레르기 성분이 포함된 메뉴가 있는 가게는 절대 추천 금지\n- 추천 가게는 반드시 위 식당 목록에 있는 가게만 사용\n- 같은 가게 중복 추천 금지\n- 총 4개 추천, 구성은 아래와 같이:\n  · 2개: food_preferences와 매칭되는 가게 (매칭 2개 미만이면 랜덤으로 채움)\n  · 2개: food_preferences 무관하게 완전 랜덤 추천\n- 추천 이유는 사용자 취향 또는 메뉴 특징 기반으로 한 줄 작성\n\n[출력 형식]\n{\n  \"message\": \"추천 결과 한 줄 요약\",\n  \"recommendations\": [\n    {\n      \"restaurant_id\": \"uuid\",\n      \"food_name\": \"가게이름\",\n      \"category\": \"카테고리\",\n      \"location\": \"주소\",\n      \"description\": \"가게 설명\",\n      \"phone\": \"전화번호\",\n      \"link\": \"링크\",\n      \"reason\": \"추천 이유\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        2176
      ],
      "id": "53d9469e-a1cf-4c2c-82b3-4e42dd9fcc51",
      "name": "FoodRecommend"
    },
    {
      "parameters": {
        "tableId": "weather_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$('날씨 입력').item.json.body.user_id}}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{$('날씨 입력').item.json.body.date}}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{$('Code in JavaScript4').item.json.city }}"
            },
            {
              "fieldId": "temperature",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.temperature }}"
            },
            {
              "fieldId": "condition",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.sky }}"
            },
            {
              "fieldId": "humidity",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.humidity }}"
            },
            {
              "fieldId": "dust_level",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm10_grade }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        16
      ],
      "id": "eb015536-e609-4c7d-b414-f5540fa05cb7",
      "name": "새 날씨 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "email_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$('이메일 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('이메일 입력').item.json.body.date }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).sender }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).subject }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).summary }}"
            },
            {
              "fieldId": "is_read",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).is_read }}"
            },
            {
              "fieldId": "uid",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).uid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        416
      ],
      "id": "7414d1e0-f362-4b68-b664-0494fafbf43f",
      "name": "새 이메일 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "meal_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('식사 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('식사 입력').item.json.body.date }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).meal_type }}"
            },
            {
              "fieldId": "food_name",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).food_name }}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).calories }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        752
      ],
      "id": "9694df5d-d903-4be5-ab69-8ff59036a374",
      "name": "새 식사 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "diary",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('일기 입력').item.json.body.date }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('일기 입력').item.json.body.message_past }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('일기 입력').item.json.body.message }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "={{ $('일기').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1008
      ],
      "id": "b7ba3f4d-df5f-420e-9cb4-a46f203d7c3c",
      "name": "기존 일기 수정",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "schedule",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일정 감지').item.json.body.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).description }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).location }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).date }}"
            },
            {
              "fieldId": "time",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).time }}"
            },
            {
              "fieldId": "is_done",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).is_done }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1360
      ],
      "id": "7df6c46e-1c2e-487b-931b-a87a99e1aa9a",
      "name": "기존 일정 수정",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "diary",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('일기 입력').item.json.body.date }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('일기 입력').item.json.body.message_past }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('일기 입력').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1184
      ],
      "id": "83fdf47a-a8cc-45b9-be95-96978bc931a9",
      "name": "새 일기 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "schedule",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일정 감지').item.json.body.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).description }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).location }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).date }}"
            },
            {
              "fieldId": "time",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).time }}"
            },
            {
              "fieldId": "is_done",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).is_done }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1536
      ],
      "id": "5cb1a1f7-83e3-4a54-984b-3a0192ba8410",
      "name": "새 일정 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json.documents[0];\nconst lat = parseFloat(doc.y);\nconst lon = parseFloat(doc.x);\nconst today = $now.toFormat('yyyy-MM-dd');\n\n// 시도명 직접 추출\nconst sido = doc.address.region_1depth_name;\n\n// 기상청 격자 변환 공식 (WGS84 → nx/ny)\nconst RE = 6371.00877;\nconst GRID = 5.0;\nconst SLAT1 = 30.0;\nconst SLAT2 = 60.0;\nconst OLON = 126.0;\nconst OLAT = 38.0;\nconst XO = 43;\nconst YO = 136;\nconst DEGRAD = Math.PI / 180.0;\nconst re = RE / GRID;\nconst slat1 = SLAT1 * DEGRAD;\nconst slat2 = SLAT2 * DEGRAD;\nconst olon = OLON * DEGRAD;\nconst olat = OLAT * DEGRAD;\nlet sn = Math.tan(Math.PI * 0.25 + slat2 * 0.5) / Math.tan(Math.PI * 0.25 + slat1 * 0.5);\nsn = Math.log(Math.cos(slat1) / Math.cos(slat2)) / Math.log(sn);\nlet sf = Math.tan(Math.PI * 0.25 + slat1 * 0.5);\nsf = Math.pow(sf, sn) * Math.cos(slat1) / sn;\nlet ro = Math.tan(Math.PI * 0.25 + olat * 0.5);\nro = re * sf / Math.pow(ro, sn);\nconst ra = Math.tan(Math.PI * 0.25 + lat * DEGRAD * 0.5);\nconst raVal = re * sf / Math.pow(ra, sn);\nlet theta = lon * DEGRAD - olon;\nif (theta > Math.PI) theta -= 2.0 * Math.PI;\nif (theta < -Math.PI) theta += 2.0 * Math.PI;\ntheta *= sn;\nconst nx = Math.floor(raVal * Math.sin(theta) + XO + 0.5);\nconst ny = Math.floor(ro - raVal * Math.cos(theta) + YO + 0.5);\n\n// 날짜 형식 변환\nconst baseDate = today.replace(/-/g, '');\n\n// 전날 날짜 계산\nconst yesterdayDate = new Date(today);\nyesterdayDate.setDate(yesterdayDate.getDate() - 1);\nconst yesterday = yesterdayDate.getFullYear().toString() +\n  String(yesterdayDate.getMonth() + 1).padStart(2, '0') +\n  String(yesterdayDate.getDate()).padStart(2, '0');\n\n// WGS84 → TM 좌표 변환\nconst toRad = d => d * Math.PI / 180;\nconst a = 6378137.0;\nconst f = 1 / 298.257222101;\nconst b = a * (1 - f);\nconst e2 = 1 - (b * b) / (a * a);\nconst e = Math.sqrt(e2);\nconst k0 = 1.0;\nconst lon0 = toRad(127.0028902777778);\nconst lat0 = toRad(38.0);\nconst FE = 200000.0;\nconst FN = 500000.0;\nconst latR = toRad(lat);\nconst lonR = toRad(lon);\nconst N = a / Math.sqrt(1 - e2 * Math.sin(latR) ** 2);\nconst T = Math.tan(latR) ** 2;\nconst C = (e2 / (1 - e2)) * Math.cos(latR) ** 2;\nconst A = Math.cos(latR) * (lonR - lon0);\nconst M = a * (\n  (1 - e2/4 - 3*e2**2/64) * latR\n  - (3*e2/8 + 3*e2**2/32) * Math.sin(2*latR)\n  + (15*e2**2/256) * Math.sin(4*latR)\n);\nconst M0 = a * (\n  (1 - e2/4 - 3*e2**2/64) * lat0\n  - (3*e2/8 + 3*e2**2/32) * Math.sin(2*lat0)\n  + (15*e2**2/256) * Math.sin(4*lat0)\n);\nconst tmX = FE + k0 * N * (A + (1-T+C)*A**3/6);\nconst tmY = FN + k0 * (M - M0 + N*Math.tan(latR)*(A**2/2 + (5-T+9*C)*A**4/24));\n\nreturn [{\n  nx,\n  ny,\n  baseDate,\n  yesterday,\n  lat,\n  lon,\n  sido,\n  tmX: Math.round(tmX),\n  tmY: Math.round(tmY)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        16
      ],
      "id": "364d40cc-e47e-4a1f-b759-cde0f523a026",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "returnType",
              "value": "json"
            },
            {
              "name": "numOfRows",
              "value": "1"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "sidoName",
              "value": "={{ $('Code in JavaScript3').item.json.sido }}"
            },
            {
              "name": "ver",
              "value": "1.0"
            },
            {
              "name": "stationName",
              "value": "={{ $('측정소').first().json.response.body.items[0].stationName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        160
      ],
      "id": "57a63e44-531c-4e80-b48f-127c3f030715",
      "name": "미세먼지"
    },
    {
      "parameters": {
        "url": "https://dapi.kakao.com/v2/local/search/address.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Edit Fields').item.json.city + ' ' + $('Edit Fields').item.json.village }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "KakaoAK 7cc3ee0adc72765078ed6cfbd3c09541"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        16
      ],
      "id": "d813c960-4e4f-45ff-9607-859cee5fbdbc",
      "name": "카카오 좌표"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/B552584/MsrstnInfoInqireSvc/getNearbyMsrstnList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "returnType",
              "value": "JSON"
            },
            {
              "name": "tmX",
              "value": "={{ $('Code in JavaScript3').item.json.tmX }}"
            },
            {
              "name": "tmY",
              "value": "={{ $('Code in JavaScript3').item.json.tmY }}"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        160
      ],
      "id": "55ef0eb9-1377-4284-9377-0ebf32856632",
      "name": "측정소"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        0
      ],
      "id": "426ba826-72f7-42fd-8355-c67ad7185ea0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "10"
            },
            {
              "name": "dataType",
              "value": "JSON"
            },
            {
              "name": "base_date",
              "value": "={{ $('Code in JavaScript3').item.json.baseDate }}"
            },
            {
              "name": "base_time",
              "value": "={{ $now.plus({hours: 13}).startOf('hour').toFormat('HHmm') }}"
            },
            {
              "name": "nx",
              "value": "={{ $('Code in JavaScript3').item.json.nx }}"
            },
            {
              "name": "ny",
              "value": "={{ $('Code in JavaScript3').item.json.ny }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        16
      ],
      "id": "92bdcced-fed6-4f67-b899-98dbd27c9f5f",
      "name": "초단기실황"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "=a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "200"
            },
            {
              "name": "dataType",
              "value": "JSON"
            },
            {
              "name": "base_date",
              "value": "={{ $('Code in JavaScript3').item.json.yesterday }}"
            },
            {
              "name": "base_time",
              "value": "2300"
            },
            {
              "name": "nx",
              "value": "={{ $('Code in JavaScript3').item.json.nx }}"
            },
            {
              "name": "ny",
              "value": "={{ $('Code in JavaScript3').item.json.ny }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -144
      ],
      "id": "20b23868-50ec-436e-81c7-8417cb403553",
      "name": "최저최고기온"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\n\n// ── 최저/최고 기온 ───────────────────────────────────────────────────\nconst low_temperature  = all[0].json.low_temperature;\nconst high_temperature = all[0].json.high_temperature;\n\n// ── 초단기실황 ──────────────────────────────────────────────────────\nconst realtimeRaw = all[1].json.response?.body?.items?.item;\nconst realtimeItems = Array.isArray(realtimeRaw) ? realtimeRaw : (realtimeRaw ? [realtimeRaw] : []);\n\nconst realtime = {};\nrealtimeItems.forEach(item => { realtime[item.category] = item.obsrValue; });\n\n// ── 미세먼지 ────────────────────────────────────────────────────────\nconst dust = all[2].json.response?.body?.items?.[0];\n\n// ── 코드 매핑 ────────────────────────────────────────────────────────\nconst skyCode  = { '1': '맑음', '3': '구름많음', '4': '흐림' };\nconst ptyCode  = { '0': '없음', '1': '비', '2': '비/눈', '3': '눈', '4': '소나기' };\nconst gradeMap = { '1': '좋음', '2': '보통', '3': '나쁨', '4': '매우나쁨' };\n\nreturn [{\n  temperature:     realtime['T1H']  ?? '알 수 없음',\n  low_temperature,\n  high_temperature,\n  sky:             skyCode[realtime['SKY']] ?? '알 수 없음',\n  rain:            ptyCode[realtime['PTY']] ?? '없음',\n  humidity:        realtime['REH']  ?? '알 수 없음',\n  windSpeed:       realtime['WSD']  ?? '알 수 없음',\n  pm25:            dust?.pm25Value  ?? '알 수 없음',\n  pm10:            dust?.pm10Value  ?? '알 수 없음',\n  pm25_grade:      gradeMap[dust?.pm25Grade]  ?? '알 수 없음',\n  pm10_grade:      gradeMap[dust?.pm10Grade]  ?? '알 수 없음',\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        16
      ],
      "id": "0cea8281-b66d-40ba-be6f-1e5b00bf5723",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.response?.body?.items?.item;\nconst forecastItems = Array.isArray(items) ? items : (items ? [items] : []);\n\n// today를 input 데이터에서 직접 추출\nconst today = forecastItems[0]?.fcstDate;\n\nlet low_temperature  = '알 수 없음';\nlet high_temperature = '알 수 없음';\n\nforecastItems.forEach(item => {\n  if (item.fcstDate !== today) return;\n  if (item.category === 'TMN') low_temperature  = item.fcstValue;\n  if (item.category === 'TMX') high_temperature = item.fcstValue;\n});\n\nreturn [{ low_temperature, high_temperature }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -144
      ],
      "id": "07dff447-4c54-4eb7-9934-46d59d100c48",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        16
      ],
      "id": "3b93fda1-a792-47e6-9a05-8041eb9030a4",
      "name": "날씨 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        416
      ],
      "id": "1fd31c0f-8b49-4977-89b4-ef4cd7173e63",
      "name": "이메일 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        752
      ],
      "id": "e76160b8-1981-4e40-b2e9-894ebe6b86bc",
      "name": "식사 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1088
      ],
      "id": "5f8df732-da8a-44c6-99e1-a500a1540804",
      "name": "일기 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        2176
      ],
      "id": "a3a2193e-807c-49e7-8d79-b4e8372e9c04",
      "name": "음식 추천 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        16
      ],
      "id": "a9243cda-46d1-4df9-b142-78fd63b31f09",
      "name": "날씨 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        416
      ],
      "id": "b47a2280-b09d-4687-88c1-10e6b601a8fb",
      "name": "이메일 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        752
      ],
      "id": "0c12c4e5-f399-4184-a86f-fc10f68f73b2",
      "name": "식사 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        1104
      ],
      "id": "80ee11e3-ca81-416a-bc5a-5aae8174fc4d",
      "name": "일기 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        1440
      ],
      "id": "66cf633c-d414-46d3-8c91-9bb50ad39ab1",
      "name": "일정 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        1792
      ],
      "id": "b4a5f4d2-d668-4b09-8bf6-53099bc37ca5",
      "name": "체중 관리 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weight",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1792
      ],
      "id": "de0820ff-6add-49bd-99b7-d825b74067fe",
      "name": "체중 관리 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "=$json.restaurant_id"
            },
            {
              "fieldId": "reason",
              "fieldValue": "=$json.reason"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.location }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.meal_type }}"
            },
            {
              "fieldId": "matched_tags",
              "fieldValue": "={{ $('Edit Fields6').item.json.food_preferences }}"
            },
            {
              "fieldId": "excluded_allergens",
              "fieldValue": "={{ $('Edit Fields6').item.json.allergies }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.date }}"
            },
            {
              "fieldId": "menu_items",
              "fieldValue": "$json.menu_name"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        2272
      ],
      "id": "1c82c443-9d84-4714-97e1-c4b809db78a8",
      "name": "추천된 가게 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1424
      ],
      "id": "2c4f93cc-0dda-4e6a-b2cd-16daa56ac25f",
      "name": "일정 감지",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "tableId": "weight_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('체중 관리 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('체중 관리 입력').item.json.body.date }}"
            },
            {
              "fieldId": "weight",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).weight }}"
            },
            {
              "fieldId": "bmi",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).bmi }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).note }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        1792
      ],
      "id": "52bf85dd-39ee-4eef-87aa-526518c3931d",
      "name": "체중 관리 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('음식 추천 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        2176
      ],
      "id": "62bacd53-1a46-4cc2-8d2f-fee7e9d49c43",
      "name": "유저 정보",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "location_tag",
              "condition": "eq",
              "keyValue": "탕정"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        2176
      ],
      "id": "f10accd6-f85d-4a20-ba57-6fa274a6cd9b",
      "name": "식당",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $input.all();\nconst ids = restaurants.map(r => r.json.id).filter(Boolean);\nreturn [{ json: { restaurant_ids: ids, ids_str: ids.join(',') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        2176
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "식당 ID 수집"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/menu_items?restaurant_id=in.(' + $json.ids_str + ')&is_available=eq.true&select=restaurant_id,menu_name,price,description,tags,allergens' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        2176
      ],
      "id": "be733810-71cc-4615-8cb7-0324c8c2642f",
      "name": "메뉴"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        2112
      ],
      "id": "1ccc87f2-f679-4cf5-b6e5-fe3380989a71",
      "name": "가게 출력"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        2176
      ],
      "id": "fcf2d917-59ae-4964-aaca-5fad524e6248",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $('식당').all().map(r => r.json);\nconst menuItems = $('메뉴').all().map(m => m.json);\n\n// restaurant_id 기준으로 메뉴 조인\nconst merged = restaurants.map(restaurant => ({\n  ...restaurant,\n  menus: menuItems.filter(menu => \n    menu.restaurant_id === restaurant.id && menu.is_available !== false\n  )\n}));\n\n// 메뉴가 하나도 없는 가게 제외\nconst filtered = merged.filter(r => r.menus.length > 0);\n\nreturn filtered.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        2176
      ],
      "id": "e23aa066-efe8-4ac6-903f-013873512e82",
      "name": "식당 메뉴 연동"
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($('FoodRecommend').item.json.output);\nconst recommendations = output.recommendations;\n\nreturn recommendations.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        2176
      ],
      "id": "7084dfdd-3fa6-42f6-80bf-940ca071bfef",
      "name": "배열 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -912,
        2448
      ],
      "id": "028d3d04-088e-4516-8a0b-ca403cb6ba2e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "날씨": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식사": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일기": {
      "main": [
        [
          {
            "node": "정보 수정 여부3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일정": {
      "main": [
        [
          {
            "node": "ScheduleBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "WeatherBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "EmailBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "MealBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "ScheduleBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "WeightManageBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "FoodRecommend",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부3": {
      "main": [
        [
          {
            "node": "기존 일기 수정",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "새 일기 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부4": {
      "main": [
        [
          {
            "node": "기존 일정 수정",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "새 일정 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "카카오 좌표",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "EmailBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "MealBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "WeightManageBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "식당",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백": {
      "main": [
        [
          {
            "node": "Create a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row6": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "WeatherBOT": {
      "main": [
        [
          {
            "node": "새 날씨 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmailBOT": {
      "main": [
        [
          {
            "node": "새 이메일 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MealBOT": {
      "main": [
        [
          {
            "node": "새 식사 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScheduleBOT": {
      "main": [
        [
          {
            "node": "정보 수정 여부4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeightManageBOT": {
      "main": [
        [
          {
            "node": "체중 관리 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FoodRecommend": {
      "main": [
        [
          {
            "node": "배열 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 날씨 등록": {
      "main": [
        [
          {
            "node": "날씨 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 이메일 등록": {
      "main": [
        [
          {
            "node": "이메일 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 식사 등록": {
      "main": [
        [
          {
            "node": "식사 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 일기 수정": {
      "main": [
        [
          {
            "node": "일기 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 일정 수정": {
      "main": [
        [
          {
            "node": "일정 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 일기 등록": {
      "main": [
        [
          {
            "node": "일기 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 일정 등록": {
      "main": [
        [
          {
            "node": "일정 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "최저최고기온",
            "type": "main",
            "index": 0
          },
          {
            "node": "측정소",
            "type": "main",
            "index": 0
          },
          {
            "node": "초단기실황",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "미세먼지": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "카카오 좌표": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "측정소": {
      "main": [
        [
          {
            "node": "미세먼지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "초단기실황": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "최저최고기온": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "WeatherBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "날씨 입력": {
      "main": [
        [
          {
            "node": "날씨",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일 입력": {
      "main": [
        [
          {
            "node": "이메일",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식사 입력": {
      "main": [
        [
          {
            "node": "식사",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일기 입력": {
      "main": [
        [
          {
            "node": "일기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 추천 입력": {
      "main": [
        [
          {
            "node": "유저 정보",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리 입력": {
      "main": [
        [
          {
            "node": "체중 관리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "추천된 가게 등록": {
      "main": [
        []
      ]
    },
    "일정 감지": {
      "main": [
        [
          {
            "node": "일정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리 등록": {
      "main": [
        [
          {
            "node": "체중 관리 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "유저 정보": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당": {
      "main": [
        [
          {
            "node": "식당 ID 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당 ID 수집": {
      "main": [
        [
          {
            "node": "메뉴",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴": {
      "main": [
        [
          {
            "node": "식당 메뉴 연동",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "가게 출력",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "추천된 가게 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당 메뉴 연동": {
      "main": [
        [
          {
            "node": "FoodRecommend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "배열 출력": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72090f2b-a77e-4c7c-b532-70bbd6794b0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e89c42f09ae18961e007576e3ff5ec17adf8c82e2ed99be8798b7043a1a4e8c"
  },
  "id": "T9fJhwRe68iSoReH",
  "tags": []
}