n8n/food_recommend_v3.json
{
  "name": "음식 추천 v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        1888
      ],
      "id": "0e01a1a2-af3f-4f88-aee6-d88fb9688fa7",
      "name": "음식 추천 입력",
      "webhookId": "fd010001-food-webhook-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst userId = body.user_id || '';\nconst location = body.location || '탕정';\n\nconst stopwords = new Set([\n  '나','저','좀','을','를','이','가','은','는','에','의','도','로','으로',\n  '와','과','먹고','싶어','싶은데','먹을까','추천','해줘','해줘요','어때',\n  '뭐','있어','없어','가고','가자','정도','그냥','오늘','어디','뭔가',\n  '하고','싶다','할래','갈래','볼래','먹자','주세요','부탁'\n]);\n\nconst words = message\n  .replace(/[?!.,~]/g, '')\n  .split(/\\s+/)\n  .filter(w => w.length >= 2 && !stopwords.has(w));\n\nconst primaryKeyword = words[0] || message.slice(0, 5);\n\nreturn [{ json: {\n  message,\n  user_id: userId,\n  location,\n  keyword: primaryKeyword,\n  all_keywords: words\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1888
      ],
      "id": "9a515fd1-5e25-4098-b16c-de53414d4126",
      "name": "키워드 추출"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('키워드 추출').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        1888
      ],
      "id": "bc3e30a0-e8bf-4f76-bbff-3627888c9848",
      "name": "유저 정보",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pref-001",
              "name": "food_preferences",
              "value": "={{ $('유저 정보').item.json.allergies }}",
              "type": "string"
            },
            {
              "id": "pref-002",
              "name": "allergies",
              "value": "={{ $('유저 정보').item.json.food_preferences }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        1888
      ],
      "id": "730fa254-97f3-44c4-903d-e86ec6b93d1f",
      "name": "취향 정리"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b589ab2a-0cf7-4801-8278-9b6f091b4d2d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A경로"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d324f03-da7d-40a7-b03e-f508b2cdaba1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "B경로"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d81173f6-3b6c-497f-b559-216d579db8d9",
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "C경로"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2544,
        1872
      ],
      "id": "f237d63d-851b-4217-ade0-bf3c4061fd85",
      "name": "경로 분기"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.restaurant_matches[0];\nreturn [{ json: {\n  path: 'A',\n  description: d.description,\n  message: `${r.name} 식당의 메뉴를 확인해보세요!`,\n  restaurants: [{\n    restaurant_id: r.id,\n    food_name: r.name,\n    category: r.category,\n    location: r.address,\n    description: r.description,\n    phone: r.phone,\n    link: r.link,\n    reason: '직접 말씀하신 식당이에요'\n  }],\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1584
      ],
      "id": "8adca533-44b6-4e2a-91a3-93d724a07aaf",
      "name": "A: 응답 포맷"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/intent_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message || $('의도 분류').first().json.message, keyword: $json.keyword, predicted_path: $json.path, path_description: $json.description, user_id: $json.user_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3136,
        1584
      ],
      "id": "222e5195-e0ed-4a88-a692-bd4d978e21f5",
      "name": "A: 의도 로그 저장"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3440,
        1584
      ],
      "id": "dec21b03-cf80-4f1a-960e-2f9ec308a438",
      "name": "A: 음식 추천 출력"
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $input.all().filter(r => r.json && r.json.id).map(r => r.json);\nconst d = $('의도 분류').first().json;\nreturn [{ json: {\n  path: 'B',\n  description: d.description,\n  message: `\"${d.keyword}\" 메뉴를 파는 식당들이에요!`,\n  restaurants: restaurants.map(r => ({\n    restaurant_id: r.id,\n    food_name: r.name,\n    category: r.category,\n    location: r.address,\n    description: r.description,\n    phone: r.phone,\n    link: r.link,\n    reason: `${d.keyword} 메뉴를 판매해요`\n  })),\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1888
      ],
      "id": "71a91ce7-d55c-4fe0-b18f-acb192accff9",
      "name": "B: 응답 포맷"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/intent_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('의도 분류').first().json.message, keyword: $json.keyword, predicted_path: $json.path, path_description: $json.description, user_id: $json.user_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3136,
        1888
      ],
      "id": "0aa887cc-a6c6-4b2b-87ec-b0b1f92d5867",
      "name": "B: 의도 로그 저장"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3440,
        1888
      ],
      "id": "9e798d4c-25f9-4660-870e-8859f916ce8f",
      "name": "B: 음식 추천 출력"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2832,
        2352
      ],
      "id": "302c4c5f-21e4-4fd0-80ed-3b06bb9f7efe",
      "name": "C: OpenAI 모델",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3824,
        2064
      ],
      "id": "7e173910-0a25-4a83-a4f8-7a9308266a37",
      "name": "C: 음식 추천 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/menu",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        2592
      ],
      "id": "6ee60516-2a6b-4a33-82a5-2d383db4dfb7",
      "name": "메뉴 조회 입력",
      "webhookId": "fd010018-food-menu-0000-000000000001"
    },
    {
      "parameters": {
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/menu_items?restaurant_id=eq.' + ($input.first().json.body || $input.first().json).restaurant_id + '&is_available=eq.true&select=id,menu_name,price,description,tags,allergens&order=menu_name.asc' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        2592
      ],
      "id": "89fc9b2a-5176-490c-b986-8d96424434bb",
      "name": "메뉴 목록 조회"
    },
    {
      "parameters": {
        "jsCode": "const body = $('메뉴 조회 입력').first().json.body || $('메뉴 조회 입력').first().json;\nconst menus = $input.all().filter(m => m.json && m.json.id).map(m => m.json);\nreturn [{ json: {\n  restaurant_id: body.restaurant_id,\n  menus\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2592
      ],
      "id": "5a633e54-2bf5-4f8f-ad35-ae530ce9d6db",
      "name": "메뉴 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        2592
      ],
      "id": "2001c9f7-aef1-4636-ab9f-b604623e74bf",
      "name": "메뉴 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/select",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        2992
      ],
      "id": "05ae04d1-1235-46d7-8ab9-9e9cecda5064",
      "name": "메뉴 선택 입력",
      "webhookId": "fd01001c-food-select-0000-000000000001"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).restaurant_id }}"
            },
            {
              "fieldId": "menu_items",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).menu_name }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).location || '' }}"
            },
            {
              "fieldId": "matched_tags",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).tags || '' }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).message || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        2992
      ],
      "id": "47506b75-6bd8-4943-9685-d3d18a84dfc6",
      "name": "방문 기록 저장",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '선택이 기록됐어요!' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2992
      ],
      "id": "66a07295-68c4-478d-8dae-23f5423dfb53",
      "name": "선택 응답 포맷"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ ($('메뉴 선택 입력').item.json.body || $('메뉴 선택 입력').item.json).user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [976, 2992],
      "id": "menu-select-logit-01",
      "name": "메뉴선택 현재 로짓",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('메뉴 선택 입력').first().json;\nconst body = raw.body || raw;\nconst { user_id, category } = body;\nif (!category) return [{ json: { skipped: true } }];\nconst existing = $input.all().find(i => i.json.category === category);\nconst currentLogit = existing ? (existing.json.logit ?? 0) : 0;\nconst currentCount = existing ? (existing.json.sample_count ?? 0) : 0;\nreturn [{ json: {\n  user_id,\n  category,\n  logit: Math.round((currentLogit + 0.1) * 1000) / 1000,\n  sample_count: currentCount + 1,\n  updated_at: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 2992],
      "id": "menu-select-logit-02",
      "name": "메뉴선택 로짓 계산"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/user_preference_logits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify([$json]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1424, 2992],
      "id": "menu-select-logit-03",
      "name": "메뉴선택 로짓 저장",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1648, 2992],
      "id": "a74deda6-299f-4c8d-a8b1-5772f55fca59",
      "name": "선택 완료 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        3392
      ],
      "id": "c36cb5a8-048a-4bed-973a-51d7f50a6cf2",
      "name": "피드백 입력",
      "webhookId": "fd010020-food-feedback-0000-000000000001"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/intent_logs?id=eq.' + ($input.first().json.body || $input.first().json).intent_log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_correct: ($input.first().json.body || $input.first().json).is_correct, true_path: ($input.first().json.body || $input.first().json).true_path || null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        3392
      ],
      "id": "866ae7b6-8972-472c-8a74-f02ee1e5c766",
      "name": "피드백 저장"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '피드백 감사해요! 더 잘 추천할게요.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        3392
      ],
      "id": "e6e6fe41-8950-4645-8090-d475bc87aa2d",
      "name": "피드백 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        3392
      ],
      "id": "8cec8937-c65a-4b5f-98ae-ed890f6a67ab",
      "name": "피드백 완료 출력"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        1888
      ],
      "id": "5796ce7b-6964-4125-8ebb-0292e97b75c4",
      "name": "식당",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "menu_items",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        1888
      ],
      "id": "a8394532-aa0a-4778-b827-9eb344c10284",
      "name": "메뉴",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $('식당').all().map(r => r.json);\nconst menuItems = $('메뉴').all().map(m => m.json);\n\nconst merged = restaurants.map(restaurant => ({\n  ...restaurant,\n  menus: menuItems.filter(menu =>\n    menu.restaurant_id === restaurant.id &&\n    menu.is_available !== false\n  )\n}));\n\nconst filtered = merged.filter(r =>\n  r.is_active !== false && r.menus.length > 0\n);\n\nreturn [{ json: { restaurants: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1888
      ],
      "id": "eb5cceb4-844a-41c1-9148-5d2a2ed06f4d",
      "name": "식당 메뉴 연동"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2048,
        2064
      ],
      "id": "4250c140-48c1-4265-9e33-75744d2290be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 음식 관련 메시지를 분석해서 의도를 분류하는 AI입니다.\n\n[식당 목록]\n{{ $('식당 메뉴 연동').first().json.restaurants.map(r => r.name).join(', ') }}\n\n[분류 기준]\n\nA: 사용자가 위 식당 목록에 있는 식당 이름을 직접 언급한 경우\n   예시) \"맥도날드 메뉴 보여줘\", \"노브랜드버거 뭐 있어?\", \"백소정 가고 싶은데\"\n\nB: 사용자가 특정 음식명 또는 메뉴명을 언급하며 그것을 파는 식당을 찾는 경우\n   예시) \"짬뽕 먹고 싶어\", \"삼겹살 어디서 먹을 수 있어?\", \"피자 파는 데 알려줘\"\n\nC: 특정 식당이나 메뉴 없이 막연하게 추천을 요청하는 경우\n   예시) \"오늘 뭐 먹지?\", \"추천해줘\", \"맛있는 거 먹고 싶어\", \"점심 뭐 먹을까\"\n\n[규칙]\n- 반드시 A, B, C 중 하나만 출력\n- 다른 텍스트, 설명, 이유 절대 출력 금지\n- 식당 이름이 애매하게 언급되어도 목록에 있으면 A로 분류\n- 음식 종류(한식, 중식 등)만 말하는 경우는 C로 분류\n\n[출력 형식]\nA",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        1888
      ],
      "id": "93f62ce5-7225-4ad4-8581-e654c16f40b7",
      "name": "Decision"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 탕정 지역 맛집을 추천해주는 음식 추천 AI입니다.\n\n[사용자 정보]\n선호 음식: {{ $('취향 정리').first().json.food_preferences }}\n알레르기: {{ $('취향 정리').first().json.allergies }}\n요청 메시지: {{ $('취향 정리').first().json.message }}\n\n[추천 가능한 식당 목록]\n{{ $('식당').all().map(r => \n  `- ${r.json.name} (${r.json.category.join(', ')}): ${r.json.description || ''}` \n).join('\\n') }}\n\n[추천 규칙]\n- 반드시 위 식당 목록에 있는 가게만 추천\n- 알레르기 항목이 포함된 식당은 절대 추천 금지\n- 반드시 아래 순서와 개수로 추천:\n  1. 사용자의 food_preferences와 일치하는 카테고리 가게 1개 (reason에 \"선호 음식 기반 추천\" 명시)\n  2. 완전 무작위 가게 2개 (reason에 \"오늘의 랜덤 추천\" 명시)\n- 총 3개 추천, 순서 반드시 위 순서대로\n- 추천 이유는 사용자 입장에서 공감가게 한 줄로 작성\n- 마크다운 코드블록 절대 사용 금지\n- 반드시 아래 JSON 형식으로만 출력\n\n[출력 형식]\n{\n  \"message\": \"오늘 이런 곳 어때요? 한 줄 요약\",\n  \"recommendations\": [\n    {\n      \"restaurant_id\": \"uuid\",\n      \"food_name\": \"가게이름\",\n      \"category\": [\"카테고리\"],\n      \"location\": \"주소\",\n      \"description\": \"가게 설명\",\n      \"phone\": \"전화번호\",\n      \"link\": \"링크\",\n      \"reason\": \"이 가게를 추천하는 이유\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2832,
        2176
      ],
      "id": "43e5e95f-5787-4649-8679-68e2c6dee391",
      "name": "FR"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "=$json.restaurant_id"
            },
            {
              "fieldId": "reason",
              "fieldValue": "=$json.reason"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.location }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.meal_type }}"
            },
            {
              "fieldId": "matched_tags",
              "fieldValue": "={{ $('Edit Fields6').item.json.food_preferences }}"
            },
            {
              "fieldId": "excluded_allergens",
              "fieldValue": "={{ $('Edit Fields6').item.json.allergies }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.date }}"
            },
            {
              "fieldId": "menu_items",
              "fieldValue": "$json.menu_name"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3824,
        2336
      ],
      "id": "1434e51c-febd-4219-af43-13574a90c8c1",
      "name": "추천된 가게 등록",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  const match = raw.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  try { \n    parsed = match ? JSON.parse(match[1]) : { message: '추천 결과예요!', recommendations: [] }; \n  } catch(e2) { \n    parsed = { message: '추천 결과예요!', recommendations: [] }; \n  }\n}\n\nconst d = $('의도 분류').first().json;\n\nreturn [{ json: {\n  path: 'C',\n  description: d.description,\n  message: parsed.message || '취향에 맞는 식당을 골라봤어요!',\n  restaurants: parsed.recommendations || [],\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        2176
      ],
      "id": "f2be2479-e63a-417b-9067-728a9aa784fd",
      "name": "배열 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3392,
        2176
      ],
      "id": "dc2fdce3-d9c3-478d-bcb3-078e8f64640d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output.trim();\nconst d = $('키워드 추출').first().json;\nconst restaurants = $('식당 메뉴 연동').first().json.restaurants;\n\n// 식당 이름 매칭 (A경로용)\nconst matched = restaurants.find(r => \n  d.message.includes(r.name.replace(/ .*/, ''))\n);\n\nreturn [{\n  json: {\n    path: output,\n    message: d.message,\n    keyword: d.keyword,\n    user_id: d.user_id,\n    description: output === 'A' ? '식당 직접 지목' : output === 'B' ? '메뉴로 식당 검색' : '취향 기반 추천',\n    food_preferences: $('취향 정리').first().json.food_preferences,\n    allergies: $('취향 정리').first().json.allergies,\n    restaurant_matches: matched ? [matched] : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        1888
      ],
      "id": "b643137a-b5ab-4a67-8e0d-adff39a5a25e",
      "name": "의도 분류"
    }
  ],
  "pinData": {},
  "connections": {
    "음식 추천 입력": {
      "main": [
        [
          {
            "node": "키워드 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 추출": {
      "main": [
        [
          {
            "node": "유저 정보",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "유저 정보": {
      "main": [
        [
          {
            "node": "취향 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "취향 정리": {
      "main": [
        [
          {
            "node": "식당",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "경로 분기": {
      "main": [
        [
          {
            "node": "A: 응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B: 응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: 응답 포맷": {
      "main": [
        [
          {
            "node": "A: 의도 로그 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: 의도 로그 저장": {
      "main": [
        [
          {
            "node": "A: 음식 추천 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B: 응답 포맷": {
      "main": [
        [
          {
            "node": "B: 의도 로그 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B: 의도 로그 저장": {
      "main": [
        [
          {
            "node": "B: 음식 추천 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C: OpenAI 모델": {
      "ai_languageModel": [
        [
          {
            "node": "FR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 조회 입력": {
      "main": [
        [
          {
            "node": "메뉴 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 목록 조회": {
      "main": [
        [
          {
            "node": "메뉴 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 응답 포맷": {
      "main": [
        [
          {
            "node": "메뉴 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 선택 입력": {
      "main": [
        [
          {
            "node": "방문 기록 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "방문 기록 저장": {
      "main": [
        [
          {
            "node": "메뉴선택 현재 로짓",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "선택 응답 포맷": {
      "main": [
        [
          {
            "node": "선택 완료 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 현재 로짓": {
      "main": [
        [
          {
            "node": "메뉴선택 로짓 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 로짓 계산": {
      "main": [
        [
          {
            "node": "메뉴선택 로짓 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 로짓 저장": {
      "main": [
        [
          {
            "node": "선택 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 입력": {
      "main": [
        [
          {
            "node": "피드백 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 저장": {
      "main": [
        [
          {
            "node": "피드백 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 응답 포맷": {
      "main": [
        [
          {
            "node": "피드백 완료 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당": {
      "main": [
        [
          {
            "node": "메뉴",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴": {
      "main": [
        [
          {
            "node": "식당 메뉴 연동",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당 메뉴 연동": {
      "main": [
        [
          {
            "node": "Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision": {
      "main": [
        [
          {
            "node": "의도 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FR": {
      "main": [
        [
          {
            "node": "배열 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "추천된 가게 등록": {
      "main": [
        []
      ]
    },
    "배열 출력": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "C: 음식 추천 출력",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "추천된 가게 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "의도 분류": {
      "main": [
        [
          {
            "node": "경로 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22a00d82-7b75-494c-b68e-4e8111f2056d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e89c42f09ae18961e007576e3ff5ec17adf8c82e2ed99be8798b7043a1a4e8c"
  },
  "id": "tNRdQk9uhxe4GooE",
  "tags": []
}