n8n/food_recommend_v2.json
{
  "name": "음식 추천 v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1600, 0],
      "id": "fd010001-food-0000-0000-000000000001",
      "name": "음식 추천 입력",
      "webhookId": "fd010001-food-webhook-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst userId = body.user_id || '';\nconst location = body.location || '탕정';\n\nconst stopwords = new Set([\n  '나','저','좀','을','를','이','가','은','는','에','의','도','로','으로',\n  '와','과','먹고','싶어','싶은데','먹을까','추천','해줘','해줘요','어때',\n  '뭐','있어','없어','가고','가자','정도','그냥','오늘','어디','뭔가',\n  '하고','싶다','할래','갈래','볼래','먹자','주세요','부탁'\n]);\n\nconst words = message\n  .replace(/[?!.,~]/g, '')\n  .split(/\\s+/)\n  .filter(w => w.length >= 2 && !stopwords.has(w));\n\nconst primaryKeyword = words[0] || message.slice(0, 5);\n\nreturn [{ json: {\n  message,\n  user_id: userId,\n  location,\n  keyword: primaryKeyword,\n  all_keywords: words\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1300, 0],
      "id": "fd010002-food-0000-0000-000000000001",
      "name": "키워드 추출"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('키워드 추출').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1000, 0],
      "id": "fd010003-food-0000-0000-000000000001",
      "name": "유저 정보",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pref-001",
              "name": "food_preferences",
              "value": "={{ $json.food_preferences || '' }}",
              "type": "string"
            },
            {
              "id": "pref-002",
              "name": "allergies",
              "value": "={{ $json.allergies || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-700, 0],
      "id": "fd010004-food-0000-0000-000000000001",
      "name": "취향 정리"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "limit": 5,
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ '*' + $('키워드 추출').first().json.keyword + '*' }}"
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-400, 0],
      "id": "fd010005-food-0000-0000-000000000001",
      "name": "식당명 검색",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "menu_items",
        "limit": 30,
        "filters": {
          "conditions": [
            {
              "keyName": "menu_name",
              "condition": "ilike",
              "keyValue": "={{ '*' + $('키워드 추출').first().json.keyword + '*' }}"
            },
            {
              "keyName": "is_available",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-100, 0],
      "id": "fd010006-food-0000-0000-000000000001",
      "name": "메뉴명 검색",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const keyword     = $('키워드 추출').first().json.keyword;\nconst message     = $('키워드 추출').first().json.message;\nconst userId      = $('키워드 추출').first().json.user_id;\nconst location    = $('키워드 추출').first().json.location;\nconst foodPrefs   = $('취향 정리').first().json.food_preferences || '';\nconst allergies   = $('취향 정리').first().json.allergies || '';\n\nconst rMatches = $('식당명 검색').all().filter(r => r.json && r.json.id);\nconst mMatches = $('메뉴명 검색').all().filter(m => m.json && m.json.restaurant_id);\n\nlet path, description;\nif (rMatches.length > 0) {\n  path = 'A';\n  description = `\"${rMatches[0].json.name}\" 식당을 바로 찾았어요!`;\n} else if (mMatches.length > 0) {\n  const uniqueIds = [...new Set(mMatches.map(m => m.json.restaurant_id))];\n  path = 'B';\n  description = `\"${keyword}\" 메뉴를 판매하는 식당 ${uniqueIds.length}곳을 찾았어요!`;\n} else {\n  path = 'C';\n  description = '취향에 맞는 식당을 추천해드릴게요!';\n}\n\nconst uniqueRestaurantIds = [...new Set(mMatches.map(m => m.json.restaurant_id))];\n\nreturn [{ json: {\n  path,\n  description,\n  keyword,\n  message,\n  user_id: userId,\n  location,\n  food_preferences: foodPrefs,\n  allergies,\n  restaurant_matches: rMatches.map(r => r.json),\n  menu_restaurant_ids: uniqueRestaurantIds,\n  ids_str: uniqueRestaurantIds.join(',')\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "fd010007-food-0000-0000-000000000001",
      "name": "의도 분류"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "A",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "A경로"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "B",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "B경로"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [500, 0],
      "id": "fd010008-food-0000-0000-000000000001",
      "name": "경로 분기"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.restaurant_matches[0];\nreturn [{ json: {\n  path: 'A',\n  description: d.description,\n  message: `${r.name} 식당의 메뉴를 확인해보세요!`,\n  restaurants: [{\n    restaurant_id: r.id,\n    food_name: r.name,\n    category: r.category,\n    location: r.address,\n    description: r.description,\n    phone: r.phone,\n    link: r.link,\n    reason: '직접 말씀하신 식당이에요'\n  }],\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -300],
      "id": "fd010009-food-0000-0000-000000000001",
      "name": "A: 응답 포맷"
    },
    {
      "parameters": {
        "tableId": "intent_logs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "message",          "fieldValue": "={{ $json.message }}" },
            { "fieldId": "keyword",          "fieldValue": "={{ $json.keyword }}" },
            { "fieldId": "predicted_path",   "fieldValue": "A" },
            { "fieldId": "path_description", "fieldValue": "={{ $json.description }}" },
            { "fieldId": "user_id",          "fieldValue": "={{ $json.user_id }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, -300],
      "id": "fd01000a-food-0000-0000-000000000001",
      "name": "A: 의도 로그 저장",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1400, -300],
      "id": "fd01000b-food-0000-0000-000000000001",
      "name": "A: 음식 추천 출력"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/restaurants?id=in.(' + $json.ids_str + ')&is_active=eq.true&select=id,name,category,address,description,phone,link&limit=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [800, 0],
      "id": "fd01000c-food-0000-0000-000000000001",
      "name": "B: 식당 상세 조회"
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $input.all().filter(r => r.json && r.json.id).map(r => r.json);\nconst d = $('의도 분류').first().json;\nreturn [{ json: {\n  path: 'B',\n  description: d.description,\n  message: `\"${d.keyword}\" 메뉴를 파는 식당들이에요!`,\n  restaurants: restaurants.map(r => ({\n    restaurant_id: r.id,\n    food_name: r.name,\n    category: r.category,\n    location: r.address,\n    description: r.description,\n    phone: r.phone,\n    link: r.link,\n    reason: `${d.keyword} 메뉴를 판매해요`\n  })),\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "fd01000d-food-0000-0000-000000000001",
      "name": "B: 응답 포맷"
    },
    {
      "parameters": {
        "tableId": "intent_logs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "message",          "fieldValue": "={{ $('의도 분류').first().json.message }}" },
            { "fieldId": "keyword",          "fieldValue": "={{ $json.keyword }}" },
            { "fieldId": "predicted_path",   "fieldValue": "B" },
            { "fieldId": "path_description", "fieldValue": "={{ $json.description }}" },
            { "fieldId": "user_id",          "fieldValue": "={{ $json.user_id }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 0],
      "id": "fd01000e-food-0000-0000-000000000001",
      "name": "B: 의도 로그 저장",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1700, 0],
      "id": "fd01000f-food-0000-0000-000000000001",
      "name": "B: 음식 추천 출력"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "filters": {
          "conditions": [
            { "keyName": "is_active", "condition": "eq", "keyValue": "true" },
            { "keyName": "location_tag", "condition": "eq", "keyValue": "={{ $('키워드 추출').first().json.location }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "fd010010-food-0000-0000-000000000001",
      "name": "C: 식당 목록 조회",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(r => ({\n  json: {\n    id: r.json.id,\n    name: r.json.name,\n    category: r.json.category,\n    address: r.json.address,\n    description: r.json.description,\n    phone: r.json.phone,\n    link: r.json.link\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "fd010011-food-0000-0000-000000000001",
      "name": "C: 식당 데이터 정리"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 음식 취향에 맞는 식당을 추천하는 AI입니다.\n\n[사용자 정보]\nfood_preferences: {{ $('의도 분류').first().json.food_preferences }}\nallergies: {{ $('의도 분류').first().json.allergies }}\n\n[추천 가능한 식당 목록]\n{{ $('C: 식당 데이터 정리').all().map(r => `${r.json.name}(${r.json.category}): ${r.json.description || ''}` ).join('\\n') }}\n\n반드시 아래 JSON 형식으로만 출력하세요. 마크다운 코드블록 절대 사용 금지.\n\n[규칙]\n- 식당 목록에 있는 가게만 추천\n- allergies 성분 포함 가게 절대 추천 금지\n- 총 4개 추천: 취향 매칭 2개 + 랜덤 2개\n- 추천 이유는 한 줄로 작성\n\n[출력 형식]\n{\n  \"message\": \"추천 한 줄 요약\",\n  \"recommendations\": [\n    {\n      \"restaurant_id\": \"uuid\",\n      \"food_name\": \"가게이름\",\n      \"category\": \"카테고리\",\n      \"location\": \"주소\",\n      \"description\": \"가게 설명\",\n      \"phone\": \"전화번호\",\n      \"link\": \"링크\",\n      \"reason\": \"추천 이유\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1400, 300],
      "id": "fd010012-food-0000-0000-000000000001",
      "name": "C: GPT 추천"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1400, 500],
      "id": "fd010013-food-0000-0000-000000000001",
      "name": "C: OpenAI 모델",
      "credentials": {
        "openAiApi": { "id": "openai-cred-001", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  const match = raw.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  try { parsed = match ? JSON.parse(match[1]) : { message: '추천 결과예요!', recommendations: [] }; }\n  catch(e2) { parsed = { message: '추천 결과예요!', recommendations: [] }; }\n}\nconst d = $('의도 분류').first().json;\nreturn [{ json: {\n  path: 'C',\n  description: d.description,\n  message: parsed.message || '취향에 맞는 식당을 골라봤어요!',\n  restaurants: parsed.recommendations || [],\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300],
      "id": "fd010014-food-0000-0000-000000000001",
      "name": "C: 응답 파싱"
    },
    {
      "parameters": {
        "tableId": "intent_logs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "message",          "fieldValue": "={{ $('의도 분류').first().json.message }}" },
            { "fieldId": "keyword",          "fieldValue": "={{ $json.keyword }}" },
            { "fieldId": "predicted_path",   "fieldValue": "C" },
            { "fieldId": "path_description", "fieldValue": "={{ $json.description }}" },
            { "fieldId": "user_id",          "fieldValue": "={{ $json.user_id }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "fd010015-food-0000-0000-000000000001",
      "name": "C: 의도 로그 저장",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const logResult = $input.all();\nconst logId = logResult.length > 0 && logResult[0].json.id ? logResult[0].json.id : null;\nconst prev = $('C: 응답 파싱').first().json;\nreturn [{ json: { ...prev, intent_log_id: logId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300],
      "id": "fd010016-food-0000-0000-000000000001",
      "name": "C: 로그ID 병합"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2600, 300],
      "id": "fd010017-food-0000-0000-000000000001",
      "name": "C: 음식 추천 출력"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/menu",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1600, 700],
      "id": "fd010018-food-0000-0000-000000000001",
      "name": "메뉴 조회 입력",
      "webhookId": "fd010018-food-menu-0000-000000000001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/menu_items?restaurant_id=eq.' + ($input.first().json.body || $input.first().json).restaurant_id + '&is_available=eq.true&select=id,menu_name,price,description,tags,allergens&order=menu_name.asc' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1300, 700],
      "id": "fd010019-food-0000-0000-000000000001",
      "name": "메뉴 목록 조회"
    },
    {
      "parameters": {
        "jsCode": "const body = $('메뉴 조회 입력').first().json.body || $('메뉴 조회 입력').first().json;\nconst menus = $input.all().filter(m => m.json && m.json.id).map(m => m.json);\nreturn [{ json: {\n  restaurant_id: body.restaurant_id,\n  menus\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 700],
      "id": "fd01001a-food-0000-0000-000000000001",
      "name": "메뉴 응답 포맷"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-700, 700],
      "id": "fd01001b-food-0000-0000-000000000001",
      "name": "메뉴 출력"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/select",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1600, 1100],
      "id": "fd01001c-food-0000-0000-000000000001",
      "name": "메뉴 선택 입력",
      "webhookId": "fd01001c-food-select-0000-000000000001"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "user_id", "fieldValue": "={{ ($input.first().json.body || $input.first().json).user_id }}" },
            { "fieldId": "restaurant_id", "fieldValue": "={{ ($input.first().json.body || $input.first().json).restaurant_id }}" },
            { "fieldId": "menu_items", "fieldValue": "={{ ($input.first().json.body || $input.first().json).menu_name }}" },
            { "fieldId": "date", "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}" },
            { "fieldId": "location", "fieldValue": "={{ ($input.first().json.body || $input.first().json).location || '' }}" },
            { "fieldId": "matched_tags", "fieldValue": "={{ ($input.first().json.body || $input.first().json).tags || '' }}" },
            { "fieldId": "message", "fieldValue": "={{ ($input.first().json.body || $input.first().json).message || '' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1300, 1100],
      "id": "fd01001d-food-0000-0000-000000000001",
      "name": "방문 기록 저장",
      "credentials": {
        "supabaseApi": { "id": "ZoISfiUUHP5TJ825", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '선택이 기록됐어요!' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 1100],
      "id": "fd01001e-food-0000-0000-000000000001",
      "name": "선택 응답 포맷"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-700, 1100],
      "id": "fd01001f-food-0000-0000-000000000001",
      "name": "선택 완료 출력"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1600, 1500],
      "id": "fd010020-food-0000-0000-000000000001",
      "name": "피드백 입력",
      "webhookId": "fd010020-food-feedback-0000-000000000001"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/intent_logs?id=eq.' + ($input.first().json.body || $input.first().json).intent_log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_correct: ($input.first().json.body || $input.first().json).is_correct, true_path: ($input.first().json.body || $input.first().json).true_path || null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1300, 1500],
      "id": "fd010021-food-0000-0000-000000000001",
      "name": "피드백 저장"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '피드백 감사해요! 더 잘 추천할게요.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 1500],
      "id": "fd010022-food-0000-0000-000000000001",
      "name": "피드백 응답 포맷"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-700, 1500],
      "id": "fd010023-food-0000-0000-000000000001",
      "name": "피드백 완료 출력"
    }
  ],
  "pinData": {},
  "connections": {
    "음식 추천 입력": {
      "main": [[{ "node": "키워드 추출", "type": "main", "index": 0 }]]
    },
    "키워드 추출": {
      "main": [[{ "node": "유저 정보", "type": "main", "index": 0 }]]
    },
    "유저 정보": {
      "main": [[{ "node": "취향 정리", "type": "main", "index": 0 }]]
    },
    "취향 정리": {
      "main": [[{ "node": "식당명 검색", "type": "main", "index": 0 }]]
    },
    "식당명 검색": {
      "main": [[{ "node": "메뉴명 검색", "type": "main", "index": 0 }]]
    },
    "메뉴명 검색": {
      "main": [[{ "node": "의도 분류", "type": "main", "index": 0 }]]
    },
    "의도 분류": {
      "main": [[{ "node": "경로 분기", "type": "main", "index": 0 }]]
    },
    "경로 분기": {
      "main": [
        [{ "node": "A: 응답 포맷", "type": "main", "index": 0 }],
        [{ "node": "B: 식당 상세 조회", "type": "main", "index": 0 }],
        [{ "node": "C: 식당 목록 조회", "type": "main", "index": 0 }]
      ]
    },
    "A: 응답 포맷": {
      "main": [[{ "node": "A: 의도 로그 저장", "type": "main", "index": 0 }]]
    },
    "A: 의도 로그 저장": {
      "main": [[{ "node": "A: 음식 추천 출력", "type": "main", "index": 0 }]]
    },
    "B: 식당 상세 조회": {
      "main": [[{ "node": "B: 응답 포맷", "type": "main", "index": 0 }]]
    },
    "B: 응답 포맷": {
      "main": [[{ "node": "B: 의도 로그 저장", "type": "main", "index": 0 }]]
    },
    "B: 의도 로그 저장": {
      "main": [[{ "node": "B: 음식 추천 출력", "type": "main", "index": 0 }]]
    },
    "C: 식당 목록 조회": {
      "main": [[{ "node": "C: 식당 데이터 정리", "type": "main", "index": 0 }]]
    },
    "C: 식당 데이터 정리": {
      "main": [[{ "node": "C: GPT 추천", "type": "main", "index": 0 }]]
    },
    "C: GPT 추천": {
      "main": [[{ "node": "C: 응답 파싱", "type": "main", "index": 0 }]]
    },
    "C: OpenAI 모델": {
      "ai_languageModel": [[{ "node": "C: GPT 추천", "type": "ai_languageModel", "index": 0 }]]
    },
    "C: 응답 파싱": {
      "main": [[{ "node": "C: 의도 로그 저장", "type": "main", "index": 0 }]]
    },
    "C: 의도 로그 저장": {
      "main": [[{ "node": "C: 로그ID 병합", "type": "main", "index": 0 }]]
    },
    "C: 로그ID 병합": {
      "main": [[{ "node": "C: 음식 추천 출력", "type": "main", "index": 0 }]]
    },
    "메뉴 조회 입력": {
      "main": [[{ "node": "메뉴 목록 조회", "type": "main", "index": 0 }]]
    },
    "메뉴 목록 조회": {
      "main": [[{ "node": "메뉴 응답 포맷", "type": "main", "index": 0 }]]
    },
    "메뉴 응답 포맷": {
      "main": [[{ "node": "메뉴 출력", "type": "main", "index": 0 }]]
    },
    "메뉴 선택 입력": {
      "main": [[{ "node": "방문 기록 저장", "type": "main", "index": 0 }]]
    },
    "방문 기록 저장": {
      "main": [[{ "node": "선택 응답 포맷", "type": "main", "index": 0 }]]
    },
    "선택 응답 포맷": {
      "main": [[{ "node": "선택 완료 출력", "type": "main", "index": 0 }]]
    },
    "피드백 입력": {
      "main": [[{ "node": "피드백 저장", "type": "main", "index": 0 }]]
    },
    "피드백 저장": {
      "main": [[{ "node": "피드백 응답 포맷", "type": "main", "index": 0 }]]
    },
    "피드백 응답 포맷": {
      "main": [[{ "node": "피드백 완료 출력", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "1e89c42f09ae18961e007576e3ff5ec17adf8c82e2ed99be8798b7043a1a4e8c"
  }
}
