n8n/worldcup.json
{
  "name": "월드컵 선호도",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worldcup",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 0],
      "id": "wc-node-01",
      "name": "월드컵 입력",
      "webhookId": "worldcup-webhook-001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ ($input.first().json.body || $input.first().json).user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-580, 0],
      "id": "wc-node-02",
      "name": "현재 로짓",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('월드컵 입력').first().json;\nconst body = raw.body || raw;\nconst { user_id, champion = '', rounds = [], top4 = [] } = body;\n\nconst CATS = ['한식','중식','양식','분식','일식','디저트','기타'];\nconst T = 1.5, EPS = 0.1, K = 7;\n\n// 현재 로짓 맵\nconst cur = {};\n$input.all().forEach(item => {\n  if (item.json.category) {\n    cur[item.json.category] = {\n      logit: item.json.logit ?? 0,\n      sample_count: item.json.sample_count ?? 0\n    };\n  }\n});\n\n// 라운드별 델타 계산\nconst delta = {};\nCATS.forEach(c => { delta[c] = 0; });\n(rounds || []).forEach(r => {\n  if (r.winner_category) delta[r.winner_category] = (delta[r.winner_category] || 0) + 0.5;\n  if (r.loser_category)  delta[r.loser_category]  = (delta[r.loser_category]  || 0) - 0.3;\n});\n\n// 새 로짓 계산\nconst now = new Date().toISOString();\nconst categories_to_upsert = CATS.map(cat => ({\n  user_id,\n  category: cat,\n  logit: Math.round(((cur[cat]?.logit ?? 0) + (delta[cat] || 0)) * 1000) / 1000,\n  sample_count: (cur[cat]?.sample_count ?? 0) + (rounds.length > 0 ? 1 : 0),\n  updated_at: now\n}));\n\n// Softmax 계산 (응답용)\nconst newLogits = {};\ncategories_to_upsert.forEach(c => { newLogits[c.category] = c.logit; });\nlet expSum = 0;\nconst expMap = {};\nCATS.forEach(cat => { expMap[cat] = Math.exp(newLogits[cat] / T); expSum += expMap[cat]; });\nconst softmax = {};\nCATS.forEach(cat => {\n  softmax[cat] = Number(((1 - EPS) * expMap[cat] / expSum + EPS / K).toFixed(4));\n});\nconst top_categories = Object.entries(softmax)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 3)\n  .map(([cat]) => cat);\n\nreturn [{ json: {\n  user_id, champion, top4, rounds,\n  top_categories, softmax, categories_to_upsert,\n  completed: true, created_at: now\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 0],
      "id": "wc-node-03",
      "name": "월드컵 계산"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/worldcup_sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.user_id, champion: $json.champion, top4: $json.top4, rounds: $json.rounds, completed: true, created_at: $json.created_at }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-140, 0],
      "id": "wc-node-04",
      "name": "세션 저장",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/user_preference_logits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($('월드컵 계산').first().json.categories_to_upsert) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [80, 0],
      "id": "wc-node-05",
      "name": "로짓 저장",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('월드컵 계산').first().json;\nreturn [{ json: {\n  message: `선호도 분석 완료! 👑 ${data.champion}이(가) 우승했어요`,\n  top_categories: data.top_categories,\n  softmax: data.softmax\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0],
      "id": "wc-node-06",
      "name": "최종 응답"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [520, 0],
      "id": "wc-node-07",
      "name": "응답"
    }
  ],
  "pinData": {},
  "connections": {
    "월드컵 입력": {
      "main": [[{ "node": "현재 로짓", "type": "main", "index": 0 }]]
    },
    "현재 로짓": {
      "main": [[{ "node": "월드컵 계산", "type": "main", "index": 0 }]]
    },
    "월드컵 계산": {
      "main": [[{ "node": "세션 저장", "type": "main", "index": 0 }]]
    },
    "세션 저장": {
      "main": [[{ "node": "로짓 저장", "type": "main", "index": 0 }]]
    },
    "로짓 저장": {
      "main": [[{ "node": "최종 응답", "type": "main", "index": 0 }]]
    },
    "최종 응답": {
      "main": [[{ "node": "응답", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "worldcup-v1-softmax",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "worldcup-softmax-workflow",
  "tags": []
}
