n8n/먹구름_봇v4.json
{
  "name": "음식 추천 v2",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('날씨 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        -288
      ],
      "id": "382478df-ca7a-4198-87f5-54cbabe87f68",
      "name": "날씨",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('식사 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        448
      ],
      "id": "8bb491ba-eabc-45e4-b158-7b9d3a24e8df",
      "name": "식사",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('이메일 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "ca47b2ce-6053-440c-b988-b6efa0e85aa3",
      "name": "이메일",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "diary",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "keyName": "date",
              "condition": "eq",
              "keyValue": "={{ $('일기 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        784
      ],
      "id": "770a4e6d-3242-4dbb-bb55-bf2c3fd276da",
      "name": "일기",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "schedule",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('일정 입력').item.json.body.user_id }}"
            },
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ $('일정 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        1136
      ],
      "id": "b0ee3ca6-5aaa-4b9d-a867-489536a17a87",
      "name": "일정",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1408,
        -128
      ],
      "id": "f828e32f-9e6a-475b-9f4e-63891b9deb0d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        272
      ],
      "id": "772c04ee-3085-4f37-b79b-b7e3a6bdb143",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('체중 관리 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        1504
      ],
      "id": "2003959e-416a-4f47-b9b6-a9146dfc2ee7",
      "name": "체중 관리",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        608
      ],
      "id": "1fca7b77-baf6-4791-93ba-7c5163c42b89",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        1296
      ],
      "id": "0489738e-b6e4-4160-81da-9f61088639e2",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        1680
      ],
      "id": "3784d6ca-8e34-49e7-93a0-0813aa789ff0",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61c3e6ef-2aca-4688-a6e6-4fcb3604f142",
              "leftValue": "={{ $('일기 입력').item.json.body.is_update }}",
              "rightValue": "=$('일기 입력').item.json.body.date",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        784
      ],
      "id": "0dca710c-7104-4983-913d-9a693eb8a7f5",
      "name": "정보 수정 여부3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c11a2117-d600-4964-a0d1-bd9a0dbf1517",
              "leftValue": "={{ $('일정 입력').item.json.body.is_update }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        1136
      ],
      "id": "71f1bbd4-3f57-41ff-a919-ce888bc18ca8",
      "name": "정보 수정 여부4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f4fba71-b64e-4077-86ef-31f2ce0829bb",
              "name": "=city",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "6533784d-6462-4671-a047-833f44e9b434",
              "name": "village",
              "value": "={{ $json.village }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -288
      ],
      "id": "b6ed96e9-9785-4efc-9d97-07b4572f8fb7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e37d405-12db-4c75-99e4-f7b388b0c6ff",
              "name": "email_provider",
              "value": "={{ $json.email_provider }}",
              "type": "string"
            },
            {
              "id": "08329724-6812-417e-ab71-b4a77ea607fb",
              "name": "email_address",
              "value": "={{ $json.email_address }}",
              "type": "string"
            },
            {
              "id": "cac79e59-c304-4c46-bf91-e99abf41538f",
              "name": "email_app_pw",
              "value": "={{ $json.email_app_pw }}",
              "type": "string"
            },
            {
              "id": "940e35e7-be7d-4af1-9fdc-32b3c89ccc21",
              "name": "email_last_uid",
              "value": "={{ $json.email_last_uid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        112
      ],
      "id": "d6219851-0c2b-4fea-aecd-899333f1995c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a72e9f3-ec0b-4cbe-8f3c-e145a785f162",
              "name": "breakfast_time",
              "value": "={{ $json.breakfast_time }}",
              "type": "string"
            },
            {
              "id": "0eaa2050-51ba-41b4-b014-9f9be4da0ba9",
              "name": "lunch_time",
              "value": "={{ $json.lunch_time }}",
              "type": "string"
            },
            {
              "id": "0d39361f-dc91-4e94-acf3-1f6987d471a1",
              "name": "dinner_time",
              "value": "={{ $json.dinner_time }}",
              "type": "string"
            },
            {
              "id": "d2bd5f3e-ab04-4950-b7f7-a1cb1131b3e2",
              "name": "snack_time",
              "value": "={{ $json.snack_time }}",
              "type": "string"
            },
            {
              "id": "ada7a69c-d901-4cf4-9c2d-445fb4b85f5a",
              "name": "daily_cal_target",
              "value": "={{ $json.daily_cal_target }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        448
      ],
      "id": "485b6c5b-f9b6-4091-9656-bb02ca5911a2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fcb9101-619d-4e9c-b42a-d9009832a5bb",
              "name": "init_weight",
              "value": "={{ $json.init_weight }}",
              "type": "string"
            },
            {
              "id": "d58ee86a-9c49-43ef-add3-1818b6816f47",
              "name": "goal_weight",
              "value": "={{ $json.goal_weight }}",
              "type": "string"
            },
            {
              "id": "2f17df6b-f04c-4133-ba6f-741bc03d49ab",
              "name": "daily_cal_target",
              "value": "={{ $json.daily_cal_target }}",
              "type": "string"
            },
            {
              "id": "12d8a1f0-bd49-4f99-8d44-2dc3e193655a",
              "name": "height",
              "value": "={{ $json.height }}",
              "type": "string"
            },
            {
              "id": "0380067a-abd1-4aad-9033-863ad952ca32",
              "name": "gender",
              "value": "={{ $json.gender }}",
              "type": "string"
            },
            {
              "id": "9f98027c-fa88-411a-b378-811371a08808",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        1504
      ],
      "id": "ddd36415-716a-45ba-9b93-6dee66c0cf43",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 날씨 정보를 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('날씨 입력').item.json.body.message_past}}\n\n[사용자 위치]\ncity: {{ $('Edit Fields').item.json.city }}\nvillage: {{ $('Edit Fields').item.json.village }}\n\n위 정보를 바탕으로 날씨 정보를 조회하고\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"city\": \"도시명\",\n  \"temperature\": 기온(숫자),\n  \"condition\": \"맑음/흐림/비/눈 중 하나\",\n  \"humidity\": 습도(숫자),\n  \"dust_level\": \"좋음/보통/나쁨/매우나쁨 중 하나\",\n  \"summary\": \"날씨 한 줄 요약\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        -288
      ],
      "id": "58d953f7-f722-4a12-b6de-be751b3f5a83",
      "name": "WeatherBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 이메일을 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('이메일 입력').item.json.body.message }}\n\n[사용자 이메일 정보]\nemail_provider: {{ $('Edit Fields1').item.json.email_provider }}\nemail_address: {{ $('Edit Fields1').item.json.email_address }}\nemail_app_pw: {{ $('Edit Fields1').item.json.email_app_pw }}\nemail_last_uid: {{ $('Edit Fields1').item.json.email_last_uid }}\n\n위 정보를 바탕으로 이메일을 처리하고\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[규칙]\n- summary는 이메일 핵심 내용을 50자 이내로 요약\n- is_read는 처리 후 항상 true\n\n[출력 형식]\n{\n  \"sender\": \"발신자 이메일\",\n  \"subject\": \"이메일 제목\",\n  \"summary\": \"핵심 내용 요약\",\n  \"is_read\": true,\n  \"uid\": \"이메일 UID\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        112
      ],
      "id": "116083bc-b7ef-45c5-90ae-8c8e007a3de5",
      "name": "EmailBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 식사 정보를 처리하는 AI입니다.\n오늘 날짜는 {{$now.toFormat('yyyy-MM-dd')}}입니다.\n\n[사용자 메시지]\n{{$('식사 입력').item.json.body.message_past}}\n\n[사용자 기본 정보]\nbreakfast_time: {{ $('Edit Fields2').item.json.breakfast_time }}\nlunch_time: {{ $('Edit Fields2').item.json.lunch_time }}\ndinner_time: {{ $('Edit Fields2').item.json.dinner_time }}\ndaily_cal_target: {{ $('Edit Fields2').item.json.daily_cal_target }}\n\n위 정보를 바탕으로 식사 내용을 파악하고 칼로리를 계산해서\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[meal_type 규칙]\n- 아침(06:00~10:00): \"breakfast\"\n- 점심(10:00~15:00): \"lunch\"\n- 저녁(15:00~21:00): \"dinner\"\n- 그 외 또는 간식: \"snack\"\n- 사용자가 직접 언급하면 해당 값 사용\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"meal_type\": \"breakfast/lunch/dinner/snack 중 하나\",\n  \"food_name\": \"음식 이름\",\n  \"calories\": 칼로리(숫자),\n  \"summary\": \"식사 한 줄 요약\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        448
      ],
      "id": "09052871-b382-4ea4-870d-9a20f2d29010",
      "name": "MealBOT"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=당신은 사용자의 일정을 관리하는 AI입니다.\n오늘 날짜는 {{ $now.toFormat('yyyy-MM-dd') }}입니다.\n\n[사용자 메시지]\n{{ $('일정 입력').item.json.body.message_future }}\n\n반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[규칙]\n- 시간이 언급되지 않으면 time은 빈 문자열\n- 장소가 언급되지 않으면 location은 빈 문자열\n- is_done은 항상 false\n\n[출력 형식]\n{\n  \"title\": \"일정 제목\",\n  \"description\": \"일정 상세 내용\",\n  \"location\": \"장소 또는 빈 문자열\",\n  \"date\": \"yyyy-MM-dd\",\n  \"time\": \"HH:mm 또는 빈 문자열\",\n  \"is_done\": false\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        1136
      ],
      "id": "ce3f5ed5-0e6b-45f4-ad3c-afe12bd60197",
      "name": "ScheduleBOT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자의 체중과 건강을 관리하는 AI입니다.\n오늘 날짜는 {{ $now.toFormat('yyyy-MM-dd') }}입니다.\n\n[사용자 메시지]\n{{ $('체중 관리 입력').item.json.body.message_past }}\n\n[사용자 기본 정보]\nheight: {{ $('Edit Fields5').item.json.height }}\ngender: {{ $('Edit Fields5').item.json.gender }}\nage: {{ $('Edit Fields5').item.json.age }}\ninit_weight: {{ $('Edit Fields5').item.json.init_weight }}\ngoal_weight: {{ $('Edit Fields5').item.json.goal_weight }}\ndaily_cal_target: {{ $('Edit Fields5').item.json.daily_cal_target }}\n\n위 정보를 바탕으로 반드시 아래 JSON 형식으로만 출력하세요.\n다른 텍스트는 절대 포함하지 마세요.\n\n[BMI 계산 공식]\nBMI = 체중(kg) ÷ (키(m) × 키(m))\n소수점 첫째 자리까지 반올림\n\n[규칙]\n- 체중 언급이 없으면 weight와 bmi 둘 다 null로 출력\n- 체중 언급이 있을 때만 BMI 계산 후 출력\n- note는 사용자가 언급한 내용 기반으로 건강 관련 한 줄 메모. 언급이 없으면 빈 문자열\n\n[출력 형식]\n{\n  \"date\": \"yyyy-MM-dd\",\n  \"weight\": 체중(숫자) 또는 null,\n  \"bmi\": BMI(숫자) 또는 null,\n  \"note\": \"건강 관련 한 줄 메모\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        1504
      ],
      "id": "4eae1e4c-d4be-42bd-bf15-2d7bdf2eafb0",
      "name": "WeightManageBOT"
    },
    {
      "parameters": {
        "tableId": "weather_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$('날씨 입력').item.json.body.user_id}}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{$('날씨 입력').item.json.body.date}}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{$('Code in JavaScript4').item.json.city }}"
            },
            {
              "fieldId": "temperature",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.temperature }}"
            },
            {
              "fieldId": "condition",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.sky }}"
            },
            {
              "fieldId": "humidity",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.humidity }}"
            },
            {
              "fieldId": "dust_level",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm10_grade }}"
            },
            {
              "fieldId": "low_temperature",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.low_temperature }}"
            },
            {
              "fieldId": "high_temperature",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.high_temperature }}"
            },
            {
              "fieldId": "sky",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.sky }}"
            },
            {
              "fieldId": "rain",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.rain }}"
            },
            {
              "fieldId": "wind_speed",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.windSpeed }}"
            },
            {
              "fieldId": "pm10",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm10 }}"
            },
            {
              "fieldId": "pm25",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm25 }}"
            },
            {
              "fieldId": "pm10_grade",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm10_grade }}"
            },
            {
              "fieldId": "pm25_grade",
              "fieldValue": "={{ $('Code in JavaScript4').item.json.pm25_grade }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('날씨 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        -288
      ],
      "id": "9ccac6be-a9d0-4f6b-8de9-659ac88689ca",
      "name": "새 날씨 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "email_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$('이메일 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('이메일 입력').item.json.body.date }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).sender }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).subject }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).summary }}"
            },
            {
              "fieldId": "is_read",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).is_read }}"
            },
            {
              "fieldId": "uid",
              "fieldValue": "={{ JSON.parse($('EmailBOT').item.json.output).uid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        112
      ],
      "id": "0c801271-96ab-4412-bc3f-9eb5b4db644f",
      "name": "새 이메일 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "meal_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('식사 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('식사 입력').item.json.body.date }}"
            },
            {
              "fieldId": "meal_type",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).meal_type }}"
            },
            {
              "fieldId": "food_name",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).food_name }}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ JSON.parse($('MealBOT').item.json.output).calories }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        448
      ],
      "id": "9c966bb4-d806-480c-8b0c-bc14ef80444c",
      "name": "새 식사 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "diary",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('일기 입력').item.json.body.date }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('일기 입력').item.json.body.message_past }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('일기 입력').item.json.body.message }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "={{ $('일기').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        704
      ],
      "id": "43b6e52b-9b6c-4b7f-bc34-a27e139ae448",
      "name": "기존 일기 수정",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "schedule",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일정 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).description }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).location }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).date }}"
            },
            {
              "fieldId": "time",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).time }}"
            },
            {
              "fieldId": "is_done",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).is_done }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        1072
      ],
      "id": "8c9a8530-8af5-4676-9c4e-272d44681b61",
      "name": "기존 일정 수정",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "diary",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일기 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('일기 입력').item.json.body.date }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('일기 입력').item.json.body.message_past }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('일기 입력').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        880
      ],
      "id": "3f4eacb8-ef22-47ad-85bf-a475e914ba87",
      "name": "새 일기 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "schedule",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('일정 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).description }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).location }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).date }}"
            },
            {
              "fieldId": "time",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).time }}"
            },
            {
              "fieldId": "is_done",
              "fieldValue": "={{ JSON.parse($('ScheduleBOT').item.json.output).is_done }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        1248
      ],
      "id": "42fa44a3-c7b9-489c-a96d-8f244a19ac6d",
      "name": "새 일정 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json.documents[0];\nconst lat = parseFloat(doc.y);\nconst lon = parseFloat(doc.x);\nconst today = $now.toFormat('yyyy-MM-dd');\n\n// 시도명 직접 추출\nconst sido = doc.address.region_1depth_name;\n\n// 기상청 격자 변환 공식 (WGS84 → nx/ny)\nconst RE = 6371.00877;\nconst GRID = 5.0;\nconst SLAT1 = 30.0;\nconst SLAT2 = 60.0;\nconst OLON = 126.0;\nconst OLAT = 38.0;\nconst XO = 43;\nconst YO = 136;\nconst DEGRAD = Math.PI / 180.0;\nconst re = RE / GRID;\nconst slat1 = SLAT1 * DEGRAD;\nconst slat2 = SLAT2 * DEGRAD;\nconst olon = OLON * DEGRAD;\nconst olat = OLAT * DEGRAD;\nlet sn = Math.tan(Math.PI * 0.25 + slat2 * 0.5) / Math.tan(Math.PI * 0.25 + slat1 * 0.5);\nsn = Math.log(Math.cos(slat1) / Math.cos(slat2)) / Math.log(sn);\nlet sf = Math.tan(Math.PI * 0.25 + slat1 * 0.5);\nsf = Math.pow(sf, sn) * Math.cos(slat1) / sn;\nlet ro = Math.tan(Math.PI * 0.25 + olat * 0.5);\nro = re * sf / Math.pow(ro, sn);\nconst ra = Math.tan(Math.PI * 0.25 + lat * DEGRAD * 0.5);\nconst raVal = re * sf / Math.pow(ra, sn);\nlet theta = lon * DEGRAD - olon;\nif (theta > Math.PI) theta -= 2.0 * Math.PI;\nif (theta < -Math.PI) theta += 2.0 * Math.PI;\ntheta *= sn;\nconst nx = Math.floor(raVal * Math.sin(theta) + XO + 0.5);\nconst ny = Math.floor(ro - raVal * Math.cos(theta) + YO + 0.5);\n\n// 날짜 형식 변환\nconst baseDate = today.replace(/-/g, '');\n\n// 전날 날짜 계산\nconst yesterdayDate = new Date(today);\nyesterdayDate.setDate(yesterdayDate.getDate() - 1);\nconst yesterday = yesterdayDate.getFullYear().toString() +\n  String(yesterdayDate.getMonth() + 1).padStart(2, '0') +\n  String(yesterdayDate.getDate()).padStart(2, '0');\n\n// WGS84 → TM 좌표 변환\nconst toRad = d => d * Math.PI / 180;\nconst a = 6378137.0;\nconst f = 1 / 298.257222101;\nconst b = a * (1 - f);\nconst e2 = 1 - (b * b) / (a * a);\nconst e = Math.sqrt(e2);\nconst k0 = 1.0;\nconst lon0 = toRad(127.0028902777778);\nconst lat0 = toRad(38.0);\nconst FE = 200000.0;\nconst FN = 500000.0;\nconst latR = toRad(lat);\nconst lonR = toRad(lon);\nconst N = a / Math.sqrt(1 - e2 * Math.sin(latR) ** 2);\nconst T = Math.tan(latR) ** 2;\nconst C = (e2 / (1 - e2)) * Math.cos(latR) ** 2;\nconst A = Math.cos(latR) * (lonR - lon0);\nconst M = a * (\n  (1 - e2/4 - 3*e2**2/64) * latR\n  - (3*e2/8 + 3*e2**2/32) * Math.sin(2*latR)\n  + (15*e2**2/256) * Math.sin(4*latR)\n);\nconst M0 = a * (\n  (1 - e2/4 - 3*e2**2/64) * lat0\n  - (3*e2/8 + 3*e2**2/32) * Math.sin(2*lat0)\n  + (15*e2**2/256) * Math.sin(4*lat0)\n);\nconst tmX = FE + k0 * N * (A + (1-T+C)*A**3/6);\nconst tmY = FN + k0 * (M - M0 + N*Math.tan(latR)*(A**2/2 + (5-T+9*C)*A**4/24));\n\nreturn [{\n  nx,\n  ny,\n  baseDate,\n  yesterday,\n  lat,\n  lon,\n  sido,\n  tmX: Math.round(tmX),\n  tmY: Math.round(tmY)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -288
      ],
      "id": "d79b5f62-4837-43f5-a71e-234839d7dd14",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "returnType",
              "value": "json"
            },
            {
              "name": "numOfRows",
              "value": "1"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "sidoName",
              "value": "={{ $('Code in JavaScript3').item.json.sido }}"
            },
            {
              "name": "ver",
              "value": "1.0"
            },
            {
              "name": "stationName",
              "value": "={{ $('측정소').first().json.response.body.items[0].stationName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -144
      ],
      "id": "97380fc5-f736-4479-9fd8-7dba0f89c39d",
      "name": "미세먼지"
    },
    {
      "parameters": {
        "url": "https://dapi.kakao.com/v2/local/search/address.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Edit Fields').item.json.city + ' ' + $('Edit Fields').item.json.village }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "KakaoAK 7cc3ee0adc72765078ed6cfbd3c09541"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -288
      ],
      "id": "6f863c16-94ba-4dea-b6b4-e1b8b108f00f",
      "name": "카카오 좌표"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/B552584/MsrstnInfoInqireSvc/getNearbyMsrstnList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "returnType",
              "value": "JSON"
            },
            {
              "name": "tmX",
              "value": "={{ $('Code in JavaScript3').item.json.tmX }}"
            },
            {
              "name": "tmY",
              "value": "={{ $('Code in JavaScript3').item.json.tmY }}"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -144
      ],
      "id": "238d5413-6219-4dbb-89d8-63bb755e9b9f",
      "name": "측정소"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -304
      ],
      "id": "d1d243a4-eb5d-4ddd-8bec-566e0a1d5ead",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "10"
            },
            {
              "name": "dataType",
              "value": "JSON"
            },
            {
              "name": "base_date",
              "value": "={{ $('Code in JavaScript3').item.json.baseDate }}"
            },
            {
              "name": "base_time",
              "value": "={{ $now.plus({hours: 13}).startOf('hour').toFormat('HHmm') }}"
            },
            {
              "name": "nx",
              "value": "={{ $('Code in JavaScript3').item.json.nx }}"
            },
            {
              "name": "ny",
              "value": "={{ $('Code in JavaScript3').item.json.ny }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -288
      ],
      "id": "7842b4a9-a541-40ae-8920-61a55b06b72e",
      "name": "초단기실황"
    },
    {
      "parameters": {
        "url": "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "=a385c25e408f49b8cf08e1de3c3284689da61dcde44fc15244c533b4bd65ca76"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "200"
            },
            {
              "name": "dataType",
              "value": "JSON"
            },
            {
              "name": "base_date",
              "value": "={{ $('Code in JavaScript3').item.json.yesterday }}"
            },
            {
              "name": "base_time",
              "value": "2300"
            },
            {
              "name": "nx",
              "value": "={{ $('Code in JavaScript3').item.json.nx }}"
            },
            {
              "name": "ny",
              "value": "={{ $('Code in JavaScript3').item.json.ny }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -448
      ],
      "id": "a0cbbc43-7818-4a70-8ad5-b9366afe92f2",
      "name": "최저최고기온"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\n\n// ── 최저/최고 기온 + 하늘상태 ─────────────────────────────────────────\nconst low_temperature  = all[0].json.low_temperature;\nconst high_temperature = all[0].json.high_temperature;\nconst sky              = all[0].json.sky;\n\n// ── 초단기실황 ──────────────────────────────────────────────────────\nconst realtimeRaw = all[1].json.response?.body?.items?.item;\nconst realtimeItems = Array.isArray(realtimeRaw) ? realtimeRaw : (realtimeRaw ? [realtimeRaw] : []);\n\nconst realtime = {};\nrealtimeItems.forEach(item => { realtime[item.category] = item.obsrValue; });\n\n// ── 미세먼지 ────────────────────────────────────────────────────────\nconst dust = all[2].json.response?.body?.items?.[0];\n\n// ── 코드 매핑 ────────────────────────────────────────────────────────\nconst ptyCode  = { '0': '없음', '1': '비', '2': '비/눈', '3': '눈', '4': '소나기' };\nconst gradeMap = { '1': '좋음', '2': '보통', '3': '나쁨', '4': '매우나쁨' };\n\nreturn [{\n  temperature:     realtime['T1H']  ?? '알 수 없음',\n  low_temperature,\n  high_temperature,\n  sky,\n  rain:            ptyCode[realtime['PTY']] ?? '없음',\n  humidity:        realtime['REH']  ?? '알 수 없음',\n  windSpeed:       realtime['WSD']  ?? '알 수 없음',\n  pm25:            dust?.pm25Value  ?? '알 수 없음',\n  pm10:            dust?.pm10Value  ?? '알 수 없음',\n  pm25_grade:      gradeMap[dust?.pm25Grade]  ?? '알 수 없음',\n  pm10_grade:      gradeMap[dust?.pm10Grade]  ?? '알 수 없음',\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -288
      ],
      "id": "62800c9f-6b2f-4918-a903-4ae47aa10838",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.response?.body?.items?.item;\nconst forecastItems = Array.isArray(items) ? items : (items ? [items] : []);\n\nconst today = forecastItems[0]?.fcstDate;\n\nlet low_temperature  = '알 수 없음';\nlet high_temperature = '알 수 없음';\nlet sky = '알 수 없음';\n\nconst skyCode = { '1': '맑음', '3': '구름많음', '4': '흐림' };\n\nforecastItems.forEach(item => {\n  if (item.fcstDate !== today) return;\n  if (item.category === 'TMN') low_temperature  = item.fcstValue;\n  if (item.category === 'TMX') high_temperature = item.fcstValue;\n  if (item.category === 'SKY' && sky === '알 수 없음') sky = skyCode[item.fcstValue] ?? '알 수 없음';\n});\n\nreturn [{ low_temperature, high_temperature, sky }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -448
      ],
      "id": "ea6309d2-ac0c-4ce2-94dc-e4e8edf25524",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -288
      ],
      "id": "eed9b8bb-0860-411d-b60d-bb86d3ad1255",
      "name": "날씨 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        112
      ],
      "id": "d45db841-57e2-4e60-863f-d13688226d11",
      "name": "이메일 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        448
      ],
      "id": "e67721ae-4139-4ad8-9d77-f30f70328246",
      "name": "식사 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        784
      ],
      "id": "a2992f29-784a-40bf-b33c-b4b6b52625c8",
      "name": "일기 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2176,
        -288
      ],
      "id": "9324c493-84cb-4064-8fd3-d36e08fc4c33",
      "name": "날씨 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        112
      ],
      "id": "5e57583d-00c9-49d6-b6f9-76dcbef2f333",
      "name": "이메일 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        448
      ],
      "id": "3375801b-55ce-492e-aa14-ca8e718cdffe",
      "name": "식사 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        800
      ],
      "id": "3941e7bb-258a-4720-a83c-4bc7921a6429",
      "name": "일기 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        1152
      ],
      "id": "3ef236cc-8f69-429d-8064-74f1842cf193",
      "name": "일정 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        1504
      ],
      "id": "847c20bc-0b70-466a-b16e-42e50c309733",
      "name": "체중 관리 출력"
    },
    {
      "parameters": {
        "tableId": "weight_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('체중 관리 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('체중 관리 입력').item.json.body.date }}"
            },
            {
              "fieldId": "weight",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).weight }}"
            },
            {
              "fieldId": "bmi",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).bmi }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ JSON.parse($('WeightManageBOT').item.json.output).note }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        1504
      ],
      "id": "369f92a3-7e8d-44d3-8800-d80460b30a4e",
      "name": "체중 관리 등록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "food_feedback",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('피드백 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "food_name",
              "fieldValue": "={{ $('피드백 입력').item.json.body.food_name }}"
            },
            {
              "fieldId": "reaction",
              "fieldValue": "={{ $('피드백 입력').item.json.body.reaction }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('피드백 입력').item.json.body.location }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('피드백 입력').item.json.body.date }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('피드백 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        2176
      ],
      "id": "9921d991-b453-4185-9c7b-42d97dec722e",
      "name": "음식 피드백",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst userId = body.user_id || '';\nconst location = body.location || '탕정';\n\nconst stopwords = new Set([\n  '나','저','좀','을','를','이','가','은','는','에','의','도','로','으로',\n  '와','과','먹고','싶어','싶은데','먹을까','추천','해줘','해줘요','어때',\n  '뭐','있어','없어','가고','가자','정도','그냥','오늘','어디','뭔가',\n  '하고','싶다','할래','갈래','볼래','먹자','주세요','부탁'\n]);\n\nconst words = message\n  .replace(/[?!.,~]/g, '')\n  .split(/\\s+/)\n  .filter(w => w.length >= 2 && !stopwords.has(w));\n\nconst primaryKeyword = words[0] || message.slice(0, 5);\n\nreturn [{ json: {\n  message,\n  user_id: userId,\n  location,\n  keyword: primaryKeyword,\n  all_keywords: words\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1888
      ],
      "id": "4375e2c4-5b73-43b9-8074-ae06d9e100a7",
      "name": "키워드 추출"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pref-001",
              "name": "food_preferences",
              "value": "={{ $('유저 정보1').item.json.food_preferences }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        1888
      ],
      "id": "a48cdf8e-14bb-4bd2-bf97-f34241ab769d",
      "name": "취향 정리"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b589ab2a-0cf7-4801-8278-9b6f091b4d2d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A경로"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d324f03-da7d-40a7-b03e-f508b2cdaba1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "B경로"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d81173f6-3b6c-497f-b559-216d579db8d9",
                    "leftValue": "={{ $json.path }}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "C경로"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2208,
        1872
      ],
      "id": "5985d3d5-e9f1-4a97-adc0-38ed5690e5ba",
      "name": "경로 분기"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nif (!d.restaurant_matches || d.restaurant_matches.length === 0) {\n  return [{ json: { path: 'A', message: '식당을 찾지 못했어요.', restaurants: [] } }];\n}\nconst r = d.restaurant_matches[0];\nreturn [{ json: {\n  path: 'A',\n  message: `${r.name} 메뉴예요!`,\n  restaurant_id: r.id,\n  food_name: r.name,\n  category: r.category,\n  location: r.address,\n  description: r.description,\n  phone: r.phone,\n  link: r.link,\n  menus: r.menus,\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1664
      ],
      "id": "6fe1eff2-1953-4082-b9c3-173219924a10",
      "name": "A: 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2736,
        1664
      ],
      "id": "707fa191-e37f-43ad-827d-be141240a656",
      "name": "A: 음식 추천 출력"
    },
    {
      "parameters": {
        "jsCode": "const d = $('의도 분류').first().json;\nconst keyword = d.keyword;\nconst allRestaurants = $('식당 메뉴 연동1').first().json.restaurants;\n\nconst matched = allRestaurants.filter(r =>\n  r.menus && r.menus.some(m =>\n    (m.menu_name && m.menu_name.includes(keyword)) ||\n    (m.tags && m.tags.some(t => t.includes(keyword)))\n  )\n);\n\nreturn [{ json: {\n  path: 'B',\n  message: matched.length > 0\n    ? `\"${keyword}\" 메뉴를 파는 식당들이에요!`\n    : `\"${keyword}\" 메뉴를 파는 식당을 찾지 못했어요.`,\n  restaurants: matched.map(r => ({\n    restaurant_id: r.id,\n    food_name: r.name,\n    category: r.category,\n    location: r.address,\n    description: r.description,\n    phone: r.phone,\n    link: r.link,\n    reason: `${keyword} 메뉴를 판매해요`\n  })),\n  keyword: d.keyword,\n  user_id: d.user_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1888
      ],
      "id": "ab0a19c4-d1a2-414a-b3fd-b410b456c7eb",
      "name": "B: 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2736,
        1888
      ],
      "id": "5948ec9d-2bda-4366-80e1-fd4da7902e80",
      "name": "B: 음식 추천 출력"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3760,
        2112
      ],
      "id": "1d20135a-c4b2-4986-8066-f718193c19dc",
      "name": "C: 음식 추천 출력"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1888,
        2064
      ],
      "id": "06e38b44-6f22-4cf1-a88e-100cf30d5d1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 메시지를 A/B/C로 분류하세요.\n\n메시지: {{ $('음식 추천 입력').item.json.body.message }}\n\n분류 기준:\nB: 메시지에 특정 음식명이 포함된 경우 (짬뽕, 돈까스, 라면, 피자 등)\n   → 음식명이 하나라도 있으면 무조건 B\nC: 음식명 없이 막연하게 추천 요청하는 경우\n\nA 경로는 시스템이 별도로 처리하므로 A는 선택하지 마세요.\n\n반드시 B 또는 C 중 하나만 출력하세요.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        1888
      ],
      "id": "14d9802c-39d7-46fd-8970-0a1a2cfc181c",
      "name": "Decision"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output.trim();\nconst d = $('키워드 추출').first().json;\nconst restaurants = $('식당 메뉴 연동1').first().json.restaurants;\n\n// 식당 이름 매칭 (A경로용)\nconst matched = restaurants.find(r => \n  d.message.includes(r.name.replace(/ .*/, ''))\n);\n\nreturn [{\n  json: {\n    path: output,\n    message: d.message,\n    keyword: d.keyword,\n    user_id: d.user_id,\n    description: output === 'A' ? '식당 직접 지목' : output === 'B' ? '메뉴로 식당 검색' : '취향 기반 추천',\n    food_preferences: $('취향 정리').first().json.food_preferences,\n    restaurant_matches: matched ? [matched] : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1888
      ],
      "id": "72a66b1b-a38b-4f1c-ac9e-f31d0205d47c",
      "name": "의도 분류"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('키워드 추출').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        1888
      ],
      "id": "234a931e-e99a-4373-9846-93234f28329c",
      "name": "유저 정보1",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        1888
      ],
      "id": "b3f09a94-d7aa-4fda-b8f6-dfa5ffdb6287",
      "name": "식당1",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $('식당1').all().map(r => r.json);\nconst menuItems = $('메뉴').all().map(m => m.json);\n\nconst merged = restaurants.map(restaurant => ({\n  ...restaurant,\n  menus: menuItems.filter(menu =>\n    menu.restaurant_id === restaurant.id &&\n    menu.is_available !== false\n  )\n}));\n\nconst filtered = merged.filter(r =>\n  r.is_active !== false && r.menus.length > 0\n);\n\nreturn [{ json: { restaurants: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1888
      ],
      "id": "e4e37be1-f989-425b-9cf5-56ed4e888b48",
      "name": "식당 메뉴 연동1"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $json.restaurant_id }}"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $json.reason }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.location }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.matched_tags_text }}"
            },
            {
              "fieldId": "matched_tags",
              "fieldValue": "={{ JSON.parse($('취향 정리').item.json.food_preferences) }}"
            },
            {
              "fieldId": "allergens",
              "fieldValue": "={{ $json.allergens }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.date ?? $now.setZone('Asia/Seoul').format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "menu_items",
              "fieldValue": "={{ $json.menu_items_text }}"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('음식 추천 입력').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4048,
        2272
      ],
      "id": "7641cc32-cecd-4d17-8892-5c9fa42cd76d",
      "name": "추천된 가게 등록1",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3760,
        2256
      ],
      "id": "fd8df35c-931c-4126-af15-05b816eb6fb1",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 탕정 지역 맛집을 추천해주는 음식 추천 AI입니다.\n\n[사용자 정보]\n선호 음식: {{ $('취향 정리').first().json.food_preferences }}\n요청 메시지: {{ $('음식 추천 입력').first().json.body.message }}\n\n[추천 가능한 식당 목록]\n{{ $('5개 출력').all().map(r =>\n  `- [${r.json.is_preferred ? '선호' : '랜덤'}] ${r.json.name} (${(r.json.category || []).join(', ')}): ${r.json.description || ''} | 주소: ${r.json.address} | 전화: ${r.json.phone || '없음'} | ID: ${r.json.id}`\n).join('\\n') }}\n\n[추천 규칙]\n- 위 목록의 5개 식당을 모두 추천\n- 반드시 5개 모두 추천\n- [선호] 식당 2개: reason에 \"선호 음식 기반 추천\" 명시\n- [랜덤] 식당 3개: reason에 \"오늘의 랜덤 추천\" 명시\n- 추천 이유는 사용자 입장에서 공감 가게 한 줄로 작성\n- 마크다운 코드블록 절대 사용 금지\n- 반드시 아래 JSON 형식으로만 출력\n\n[출력 형식]\n{\n  \"message\": \"오늘 이런 곳 어때요? 한 줄 요약\",\n  \"recommendations\": [\n    {\n      \"restaurant_id\": \"uuid\",\n      \"food_name\": \"가게이름\",\n      \"category\": [\"카테고리\"],\n      \"location\": \"주소\",\n      \"description\": \"가게 설명\",\n      \"phone\": \"전화번호\",\n      \"link\": \"링크\",\n      \"reason\": \"추천 이유\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2944,
        2112
      ],
      "id": "1ae2b15c-d18e-48e6-8275-74210f074a8d",
      "name": "Food"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weight",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1504
      ],
      "id": "a12aac67-3098-48bf-a1b3-de5953790d3b",
      "name": "체중 관리 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1888
      ],
      "id": "c61b38ea-e869-40db-affe-ee97231a3bbc",
      "name": "음식 추천 입력",
      "webhookId": "fd010001-food-webhook-0000-000000000001"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        2176
      ],
      "id": "d167d404-52ea-45e2-ae40-9eca9d9df45f",
      "name": "피드백 입력",
      "webhookId": "5152b752-2221-467a-b7ff-d7cbe9945eab"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  const match = raw.match(/```(?:json)?\\n([\\s\\S]*?)\\n```/);\n  try {\n    parsed = match ? JSON.parse(match[1]) : { message: '추천 결과를 봐요!', recommendations: [] };\n  } catch(e2) {\n    parsed = { message: '추천 결과봐요!', recommendations: [] };\n  }\n}\n\n// 5개 출력에서 이미 menus가 포함된 식당 데이터 사용\nconst top5 = $('5개 출력').all();\nconst d = $('의도 분류').first().json;\n\nconst enriched = (parsed.recommendations || []).map(r => {\n  const match = top5.find(t => t.json.id === r.restaurant_id);\n  const menus = match ? (match.json.menus || []) : [];\n  return {\n    ...r,\n    menu_items_text: menus.map(m => m.menu_name).join(', ') || '정보 없음',\n    allergens: [...new Set(menus.flatMap(m => m.allergens || []))].join(', ') || '정보 없음',\n    matched_tags_text: [...new Set(menus.flatMap(m => m.tags || []))].join(', ') || '정보 없음',\n  };\n});\n\nreturn [{ json: {\n  path: 'C',\n  description: d.description,\n  message: parsed.message || '취향에 맞는 식당을 골랐어요!',\n  restaurants: enriched,\n  keyword: d.keyword,\n  user_id: d.user_id,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        2112
      ],
      "id": "d60c4b4e-c0b7-4fc0-89a1-8a3249e73d00",
      "name": "C: 응답 포멧"
    },
    {
      "parameters": {
        "jsCode": "const weatherBotRaw = $('WeatherBOT').first().json.output || '{}';\nlet botData = {};\ntry { botData = JSON.parse(weatherBotRaw); } catch(e) {}\n\nconst raw = $('Code in JavaScript4').first().json;\n\nreturn [{ json: {\n  message: botData.summary || '날씨 정보를 확인했어요!',\n  weather: {\n    city: botData.city || $('Edit Fields').first().json.city,\n    temperature: raw.temperature,\n    low_temperature: raw.low_temperature,\n    high_temperature: raw.high_temperature,\n    sky: raw.sky,\n    rain: raw.rain,\n    humidity: raw.humidity,\n    windSpeed: raw.windSpeed,\n    pm10: raw.pm10,\n    pm25: raw.pm25,\n    pm10_grade: raw.pm10_grade,\n    pm25_grade: raw.pm25_grade,\n    condition: botData.condition,\n    dust_level: botData.dust_level,\n  }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -288
      ],
      "id": "106ce50a-d926-475f-b349-dbd2f07b8c2a",
      "name": "날씨 응답 포멧"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1136
      ],
      "id": "9b98e3e5-ab38-46e6-9849-c2e61f6b73a9",
      "name": "일정 입력",
      "webhookId": "ad14deab-8a8b-4a6e-9348-c70980340d3f"
    },
    {
      "parameters": {
        "jsCode": "const restaurants = $('Softmax').first().json.restaurants || []\nreturn restaurants.slice(0, 5).map(r => ({ json: r }))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        2112
      ],
      "id": "d0f916a7-6d32-4460-b73c-034db17a7f85",
      "name": "5개 출력"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2944,
        2288
      ],
      "id": "df69a2e7-edbb-47bd-b08f-62cc31f538f9",
      "name": "OpenAI Chat Model9",
      "credentials": {
        "openAiApi": {
          "id": "IW726D82T1QCYVjf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "restaurants",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3520,
        2256
      ],
      "id": "89231b9a-1e8b-4c8a-928b-9eed4618b1a7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "menu_items",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        1888
      ],
      "id": "bb250dea-c0db-4799-888d-9081d80c79c0",
      "name": "메뉴",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ ($('키워드 추출').item.json.body || $('키워드 추출').item.json).user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        1888
      ],
      "id": "e5a4c62c-6f44-4d1a-b02c-f1bd2aa9f50b",
      "name": "로짓 조회",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all()\nconst logit_map = {}, updated_at_map = {}\n\nitems.forEach(item => {\n  const { category, logit, updated_at } = item.json\n  if (category) {\n    logit_map[category]      = logit ?? 0\n    updated_at_map[category] = updated_at ?? null\n  }\n})\n\nreturn [{ json: { logit_map, updated_at_map } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1888
      ],
      "id": "ae398fb6-86e6-465b-9419-367cf51d7382",
      "name": "로짓 집계"
    },
    {
      "parameters": {
        "jsCode": "const T = 1.5, EPS = 0.10, GAMMA = 0.95, K = 7\nconst CATS = ['한식', '중식', '양식', '분식', '일식', '디저트', '기타']\n\nconst logitData    = $('로짓 집계').first().json\nconst logitMap     = logitData.logit_map      || {}\nconst updatedAtMap = logitData.updated_at_map || {}\n\nconst today = new Date()\nconst effectiveLogits = {}\nCATS.forEach(cat => {\n  const daysSince = updatedAtMap[cat]\n    ? (today.getTime() - new Date(updatedAtMap[cat]).getTime()) / 86400000 : 0\n  effectiveLogits[cat] = (logitMap[cat] ?? 0) * Math.pow(GAMMA, daysSince)\n})\n\nlet expSum = 0\nconst expMap = {}\nCATS.forEach(cat => {\n  expMap[cat] = Math.exp((effectiveLogits[cat] || 0) / T)\n  expSum += expMap[cat]\n})\n\nconst probs = {}\nCATS.forEach(cat => {\n  probs[cat] = (1 - EPS) * (expMap[cat] / expSum) + EPS / K\n})\n\nconst restaurants = $input.first().json.restaurants || []\nconst sorted = [...restaurants]\n  .map(r => ({ ...r, _score: probs[r.category || '기타'] || (EPS / K) }))\n  .sort((a, b) => b._score - a._score)\n\nreturn [{ json: { restaurants: sorted } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1888
      ],
      "id": "152a4c13-9bf2-46b5-8196-9a40864b7569",
      "name": "Softmax"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "food_feedback",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ ($('피드백 입력').item.json.body || $('피드백 입력').item.json).user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        2176
      ],
      "id": "dd1711b1-c56c-4b89-bfba-5a84c608430a",
      "name": "피드백 현재 로직",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw    = $('피드백 입력').first().json\nconst body   = raw.body || raw\n\nconst userId   = body.user_id\nconst category = body.category\nconst reaction = body.reaction\n\nconst ALPHA  = 0.2\nconst delta  = reaction === 'like' ? ALPHA : -ALPHA\n\nconst allLogits    = $input.all()\nconst existing     = allLogits.find(i => i.json.category === category)\nconst currentLogit = existing ? (existing.json.logit ?? 0) : 0\nconst currentCount = existing ? (existing.json.sample_count ?? 0) : 0\n\nreturn [{\n  json: {\n    user_id:      userId,\n    category,\n    logit:        Math.round((currentLogit + delta) * 1000) / 1000,\n    sample_count: currentCount + 1,\n    updated_at:   new Date().toISOString(),\n    exists:       !!existing\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        2176
      ],
      "id": "2bf241a0-5130-4750-b66b-d552d2003191",
      "name": "피드백 로직 계산"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_preference_logits",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ $json.category }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        2080
      ],
      "id": "49a5c249-e842-484c-b25d-a1c6631a9527",
      "name": "로직 업데이트",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/select",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        2560
      ],
      "id": "5929907e-f973-4831-b624-23df14274358",
      "name": "메뉴 선택 입력",
      "webhookId": "6f2e7809-9cd3-439e-a74d-60da1daa6c14"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('메뉴 선택 입력').item.json.body.user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $('메뉴 선택 입력').item.json.body.restaurant_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('메뉴 선택 입력').item.json.body.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        2560
      ],
      "id": "62c18e6d-fbe7-4a8f-a731-52ee8d8faba8",
      "name": "방문 기록 저장",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "menu_items",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "restaurant_id",
              "condition": "eq",
              "keyValue": "={{ $('메뉴 선택 입력').item.json.body.restaurant_id }}"
            },
            {
              "keyName": "menu_name",
              "condition": "eq",
              "keyValue": "={{ $('메뉴 선택 입력').item.json.body.menu_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        2560
      ],
      "id": "647ecae8-5b29-4a6a-b66b-2599f5f94b9a",
      "name": "메뉴 키워드 조회",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('메뉴 선택 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        2560
      ],
      "id": "7b4081cd-7abb-4438-97ed-e044bb6a3405",
      "name": "메뉴 선택 현재 로직",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_preference_logits",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ $json.category }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        2480
      ],
      "id": "ee581755-15ab-46af-803f-be98fd96ef31",
      "name": "로직 업데이트1",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a3a6b6d-f6d4-4540-af08-0d031a9c9367",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "\tis true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        2176
      ],
      "id": "823a437e-3665-40fb-92b3-9302f000046f",
      "name": "정보 수정 여부5"
    },
    {
      "parameters": {
        "tableId": "user_preference_logits",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        2272
      ],
      "id": "02e95b8d-ba25-4008-85a1-8e108c207661",
      "name": "로직 생성",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, category: $json.category }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        2176
      ],
      "id": "5219c9a1-26f7-4902-b50e-7b519b06e8cc",
      "name": "피드백 확인"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, category: $json.category }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        2560
      ],
      "id": "d03d2ccb-04f6-4ba9-ad51-174732f8d818",
      "name": "메뉴 로직 확인"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_preference_logits",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ $json.category }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        2880
      ],
      "id": "59237563-2cfc-4d00-a087-ffb3a5c02074",
      "name": "로직 업데이트2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a3a6b6d-f6d4-4540-af08-0d031a9c9367",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "\tis true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        2976
      ],
      "id": "93102682-a182-4a63-a17a-4b29accb8d91",
      "name": "정보 수정 여부"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, category: $json.category }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        2976
      ],
      "id": "8c10659a-c793-496d-b356-9385e5e359ef",
      "name": "피드백 확인1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worldcup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        2976
      ],
      "id": "559bd139-e721-40bb-8043-1bcddfba5479",
      "name": "월드컵 입력",
      "webhookId": "5152b752-2221-467a-b7ff-d7cbe9945eab"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('월드컵 입력').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        2976
      ],
      "id": "4a214445-70a7-474d-b925-1f1a1b46e42d",
      "name": "월드컵 현재 로직",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $('월드컵 입력').first().json\nconst body = raw.body || raw\nconst { user_id, champion = '', rounds = [] } = body\n\nconst CATS = ['한식', '중식', '양식', '분식', '일식', '디저트', '기타']\n\nconst currentMap = {}\n$input.all().forEach(item => {\n  if (item.json.category) {\n    currentMap[item.json.category] = {\n      logit:        item.json.logit        ?? 0,\n      sample_count: item.json.sample_count ?? 0\n    }\n  }\n})\n\nconst deltaMap = {}\nCATS.forEach(c => { deltaMap[c] = 0 })\nrounds.forEach(r => {\n  if (r.winner_category && deltaMap[r.winner_category] !== undefined)\n    deltaMap[r.winner_category] += 0.5\n  if (r.loser_category && deltaMap[r.loser_category] !== undefined)\n    deltaMap[r.loser_category] -= 0.3\n})\n\nconst now = new Date().toISOString()\n\nconst categories_to_upsert = CATS.map(cat => ({\n  user_id,\n  category:     cat,\n  logit:        Math.round(((currentMap[cat]?.logit ?? 0) + (deltaMap[cat] || 0)) * 1000) / 1000,\n  sample_count: (currentMap[cat]?.sample_count ?? 0) + 1,\n  updated_at:   now,\n  exists:       !!currentMap[cat]\n}))\n\nconst T = 1.5, EPS = 0.1, K = 7\nlet expSum = 0\nconst expMap = {}\ncategories_to_upsert.forEach(c => {\n  expMap[c.category] = Math.exp(c.logit / T)\n  expSum += expMap[c.category]\n})\n\nconst top_categories = Object.entries(expMap)\n  .map(([cat, exp]) => ({ cat, p: (1 - EPS) * exp / expSum + EPS / K }))\n  .sort((a, b) => b.p - a.p)\n  .slice(0, 3)\n  .map(e => e.cat)\n\nreturn [{\n  json: { user_id, champion, rounds, top_categories, categories_to_upsert, created_at: now }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        2976
      ],
      "id": "473b5449-4f32-461c-96ae-f508b5ec292e",
      "name": "월드컵 로직 계산"
    },
    {
      "parameters": {
        "tableId": "worldcup_sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "champion",
              "fieldValue": "={{ $json.champion }}"
            },
            {
              "fieldId": "rounds",
              "fieldValue": "={{ JSON.stringify($json.rounds) }}"
            },
            {
              "fieldId": "completed",
              "fieldValue": "=true"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        2976
      ],
      "id": "e86dc921-6d76-4b4a-b6d9-604b21d9039e",
      "name": "월드컵 기록",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SKIP_KEYWORDS = [\n  '소주', '맥주', '사케', '막걸리', '청주', '모주',\n  '사이다', '콜라', '주스', '에이드', '식혜', '라떼', '커피', '아메리카노', '뷔페'\n]\n\nconst CATEGORY_MAP = {\n  // 한식\n  '국밥': '한식', '돼지국밥': '한식', '콩나물국밥': '한식',\n  '갈비탕': '한식', '삼계탕': '한식', '추어탕': '한식', '육개장': '한식',\n  '매운탕': '한식', '내장탕': '한식', '동태탕': '한식',\n  '닭개장': '한식', '닭볶음탕': '한식',\n  '김치찌개': '한식', '된장찌개': '한식', '두부찌개': '한식',\n  '부대찌개': '한식', '동태찌개': '한식', '찌개': '한식', '전골': '한식',\n  '해장국': '한식',\n  '삼겹살': '한식', '생삼겹살': '한식', '목살': '한식', '항정살': '한식',\n  '갈비살': '한식', '막창': '한식', '양갈비': '한식', '한우': '한식',\n  '육회': '한식', '보쌈': '한식', '족발': '한식', '수육': '한식',\n  '편육': '한식', '곱창': '한식', '닭발': '한식',\n  '불고기': '한식', '두루치기': '한식', '낙지볶음': '한식', '오징어볶음': '한식',\n  '비빔밥': '한식', '볶음밥': '한식', '새우볶음밥': '한식', '햄볶음밥': '한식',\n  '냉면': '한식', '물냉면': '한식', '불냉면': '한식', '비빔냉면': '한식',\n  '회냉면': '한식', '칼국수': '한식', '샤브샤브': '한식',\n  '녹두전': '한식', '메밀전병': '한식', '파전': '한식', '떡갈비': '한식',\n  '만두': '한식', '군만두': '한식',\n  '광어': '한식', '우럭': '한식', '도다리': '한식', '낙지': '한식',\n  '굴': '한식', '멍게': '한식', '해삼': '한식', '전복': '한식',\n  '참돔': '한식', '모듬회': '한식', '꼬막': '한식', '오징어': '한식',\n  '오징어젓갈': '한식', '황태': '한식', '어죽': '한식',\n  '월남쌈': '한식', '냉채': '한식', '계란찜': '한식', '차돌': '한식',\n  '한정식': '한식', '구이': '한식', '고기': '한식', '탕': '한식',\n  '국물': '한식', '밥': '한식', '공기밥': '한식', '된장': '한식', '김치': '한식',\n  // 양식\n  '버거': '양식', '햄버거': '양식', '불고기버거': '양식', '치즈버거': '양식',\n  '카츠버거': '양식', '새우버거': '양식', '치킨버거': '양식',\n  '치킨': '양식', '치킨너겟': '양식', '치킨윙': '양식', '너겟': '양식',\n  '피자': '양식', '파스타': '양식', '스테이크': '양식',\n  '감자튀김': '양식', '어니언링': '양식', '핫도그': '양식',\n  '샐러드': '양식', '스콘': '양식', '와플': '양식', '머핀': '양식',\n  '치즈스틱': '양식', '랩': '양식', '빅맥': '양식', '해쉬브라운': '양식',\n  // 일식\n  '돈까스': '일식', '우동': '일식', '소바': '일식', '가츠동': '일식',\n  '새우튀김': '일식', '카레': '일식', '가라아게': '일식', '함바그': '일식',\n  '라멘': '일식', '초밥': '일식', '사시미': '일식', '연어': '일식',\n  // 중식\n  '탕수육': '중식', '짬뽕': '중식', '순두부': '중식',\n  // 분식\n  '순대': '분식', '강정': '분식',\n  // 디저트\n  '아이스크림': '디저트', '케이크': '디저트', '도넛': '디저트',\n  '파이': '디저트', '호두과자': '디저트', '호두떡': '디저트',\n  '호두파이': '디저트', '양갱': '디저트', '단팥빵': '디저트',\n  '바움쿠헨': '디저트',\n}\n\nconst body = $('메뉴 선택 입력').first().json.body\nconst keywords = $('메뉴 키워드 조회').first().json.keywords || []\n\n// 음료/뷔페만 있으면 로짓 업데이트 안 함\nconst isSkipOnly = keywords.length > 0 && keywords.every(k => SKIP_KEYWORDS.includes(k))\nif (isSkipOnly) {\n  return [{ json: { user_id: body.user_id, category: '_skip', logit: 0, sample_count: 0, updated_at: new Date().toISOString() } }]\n}\n\nconst category = keywords.map(k => CATEGORY_MAP[k]).find(Boolean) || '기타'\n\nconst ALPHA = 0.1\nconst allLogits = $('메뉴 선택 현재 로직').all()\nconst existing = allLogits.find(i => i.json.category === category)\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    category,\n    logit: Math.round(((existing?.json.logit ?? 0) + ALPHA) * 1000) / 1000,\n    sample_count: (existing?.json.sample_count ?? 0) + 1,\n    updated_at: new Date().toISOString()\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        2560
      ],
      "id": "70d5d087-d189-44d8-9cf3-ef6db89ed0b9",
      "name": "메뉴 선택 로직 계산"
    },
    {
      "parameters": {
        "jsCode": "const data = $('월드컵 계산').first().json\nreturn [{\n  json: {\n    message: `선호도 분석 완료! 👑 ${data.champion}이(가) 우승했어요`,\n    top_categories: data.top_categories\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        2976
      ],
      "id": "37d8da7c-9805-471b-aeb0-05b656cd858d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const data = $('월드컵 로직 계산').first().json\nreturn data.categories_to_upsert.map(cat => ({ json: cat }))\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2976
      ],
      "id": "0f6d928b-e19a-418a-bdfa-ecb14a7919f6",
      "name": "월드컵 응답"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a3a6b6d-f6d4-4540-af08-0d031a9c9367",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "\tis true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        2560
      ],
      "id": "11bc0eb4-d642-42fa-973b-39159faff182",
      "name": "정보 수정 여부1"
    },
    {
      "parameters": {
        "tableId": "user_preference_logits",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        2656
      ],
      "id": "99c8d3e2-0bd7-495d-ae2e-5da6b41b72f6",
      "name": "로직 생성1",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "user_preference_logits",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "logit",
              "fieldValue": "={{ $json.logit }}"
            },
            {
              "fieldId": "sample_count",
              "fieldValue": "={{ $json.sample_count }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        3072
      ],
      "id": "35dc0677-61d1-4f0d-a0cf-b9e887994e20",
      "name": "로직 생성2",
      "credentials": {
        "supabaseApi": {
          "id": "DAeVvjGCSU38eRDw",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "날씨": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식사": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일기": {
      "main": [
        [
          {
            "node": "정보 수정 여부3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일정": {
      "main": [
        [
          {
            "node": "ScheduleBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "WeatherBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "EmailBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "MealBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "ScheduleBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "WeightManageBOT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부3": {
      "main": [
        [
          {
            "node": "기존 일기 수정",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "새 일기 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부4": {
      "main": [
        [
          {
            "node": "기존 일정 수정",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "새 일정 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "카카오 좌표",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "EmailBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "MealBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "WeightManageBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeatherBOT": {
      "main": [
        [
          {
            "node": "새 날씨 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmailBOT": {
      "main": [
        [
          {
            "node": "새 이메일 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MealBOT": {
      "main": [
        [
          {
            "node": "새 식사 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScheduleBOT": {
      "main": [
        [
          {
            "node": "정보 수정 여부4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeightManageBOT": {
      "main": [
        [
          {
            "node": "체중 관리 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 날씨 등록": {
      "main": [
        [
          {
            "node": "날씨 응답 포멧",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 이메일 등록": {
      "main": [
        [
          {
            "node": "이메일 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 식사 등록": {
      "main": [
        [
          {
            "node": "식사 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 일기 수정": {
      "main": [
        [
          {
            "node": "일기 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 일정 수정": {
      "main": [
        [
          {
            "node": "일정 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 일기 등록": {
      "main": [
        [
          {
            "node": "일기 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "새 일정 등록": {
      "main": [
        [
          {
            "node": "일정 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "최저최고기온",
            "type": "main",
            "index": 0
          },
          {
            "node": "측정소",
            "type": "main",
            "index": 0
          },
          {
            "node": "초단기실황",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "미세먼지": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "카카오 좌표": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "측정소": {
      "main": [
        [
          {
            "node": "미세먼지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "초단기실황": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "최저최고기온": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "WeatherBOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "날씨 입력": {
      "main": [
        [
          {
            "node": "날씨",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일 입력": {
      "main": [
        [
          {
            "node": "이메일",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식사 입력": {
      "main": [
        [
          {
            "node": "식사",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일기 입력": {
      "main": [
        [
          {
            "node": "일기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리 등록": {
      "main": [
        [
          {
            "node": "체중 관리 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 피드백": {
      "main": [
        [
          {
            "node": "피드백 현재 로직",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 추출": {
      "main": [
        [
          {
            "node": "유저 정보1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "취향 정리": {
      "main": [
        [
          {
            "node": "로짓 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "경로 분기": {
      "main": [
        [
          {
            "node": "A: 응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B: 응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5개 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: 응답 포맷": {
      "main": [
        [
          {
            "node": "A: 음식 추천 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B: 응답 포맷": {
      "main": [
        [
          {
            "node": "B: 음식 추천 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision": {
      "main": [
        [
          {
            "node": "의도 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "의도 분류": {
      "main": [
        [
          {
            "node": "경로 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "유저 정보1": {
      "main": [
        [
          {
            "node": "취향 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당1": {
      "main": [
        [
          {
            "node": "메뉴",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "식당 메뉴 연동1": {
      "main": [
        [
          {
            "node": "Softmax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "추천된 가게 등록1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Food": {
      "main": [
        [
          {
            "node": "C: 응답 포멧",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "체중 관리 입력": {
      "main": [
        [
          {
            "node": "체중 관리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "음식 추천 입력": {
      "main": [
        [
          {
            "node": "키워드 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 입력": {
      "main": [
        [
          {
            "node": "음식 피드백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C: 응답 포멧": {
      "main": [
        [
          {
            "node": "C: 음식 추천 출력",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "날씨 응답 포멧": {
      "main": [
        [
          {
            "node": "날씨 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일정 입력": {
      "main": [
        [
          {
            "node": "일정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5개 출력": {
      "main": [
        [
          {
            "node": "Food",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Food",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "추천된 가게 등록1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴": {
      "main": [
        [
          {
            "node": "식당 메뉴 연동1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로짓 조회": {
      "main": [
        [
          {
            "node": "로짓 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로짓 집계": {
      "main": [
        [
          {
            "node": "식당1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Softmax": {
      "main": [
        [
          {
            "node": "Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 현재 로직": {
      "main": [
        [
          {
            "node": "피드백 로직 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 로직 계산": {
      "main": [
        [
          {
            "node": "정보 수정 여부5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 업데이트": {
      "main": [
        [
          {
            "node": "피드백 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 선택 입력": {
      "main": [
        [
          {
            "node": "방문 기록 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "방문 기록 저장": {
      "main": [
        [
          {
            "node": "메뉴 키워드 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 키워드 조회": {
      "main": [
        [
          {
            "node": "메뉴 선택 현재 로직",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 선택 현재 로직": {
      "main": [
        [
          {
            "node": "메뉴 선택 로직 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 업데이트1": {
      "main": [
        [
          {
            "node": "메뉴 로직 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부5": {
      "main": [
        [
          {
            "node": "로직 업데이트",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "로직 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 생성": {
      "main": [
        [
          {
            "node": "피드백 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 업데이트2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부": {
      "main": [
        [
          {
            "node": "로직 업데이트2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "로직 생성2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "월드컵 입력": {
      "main": [
        [
          {
            "node": "월드컵 현재 로직",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "월드컵 현재 로직": {
      "main": [
        [
          {
            "node": "월드컵 로직 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "월드컵 로직 계산": {
      "main": [
        [
          {
            "node": "월드컵 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "월드컵 기록": {
      "main": [
        [
          {
            "node": "월드컵 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 선택 로직 계산": {
      "main": [
        [
          {
            "node": "정보 수정 여부1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "피드백 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "월드컵 응답": {
      "main": [
        [
          {
            "node": "정보 수정 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정보 수정 여부1": {
      "main": [
        [
          {
            "node": "로직 업데이트1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "로직 생성1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 생성1": {
      "main": [
        [
          {
            "node": "메뉴 로직 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로직 생성2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d4d157cd-7316-42d2-baed-82d34a24ae9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec60635b53f669a2b7838b571b95c4bbf51e85d782a484e319bb15b6b2af08b5"
  },
  "id": "FgTQoQkO5kLUEqil",
  "tags": []
}