n8n/음식_상세.json
{
  "name": "음식 상세 플로우",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2832,
        2352
      ],
      "id": "302c4c5f-21e4-4fd0-80ed-3b06bb9f7efe",
      "name": "C: OpenAI 모델",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/menu",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        2592
      ],
      "id": "6ee60516-2a6b-4a33-82a5-2d383db4dfb7",
      "name": "메뉴 조회 입력",
      "webhookId": "fd010018-food-menu-0000-000000000001"
    },
    {
      "parameters": {
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/menu_items?restaurant_id=eq.' + ($input.first().json.body || $input.first().json).restaurant_id + '&is_available=eq.true&select=id,menu_name,price,description,tags,allergens&order=menu_name.asc' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        2592
      ],
      "id": "89fc9b2a-5176-490c-b986-8d96424434bb",
      "name": "메뉴 목록 조회"
    },
    {
      "parameters": {
        "jsCode": "const body = $('메뉴 조회 입력').first().json.body || $('메뉴 조회 입력').first().json;\nconst menus = $input.all().filter(m => m.json && m.json.id).map(m => m.json);\nreturn [{ json: {\n  restaurant_id: body.restaurant_id,\n  menus\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2592
      ],
      "id": "5a633e54-2bf5-4f8f-ad35-ae530ce9d6db",
      "name": "메뉴 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        2592
      ],
      "id": "2001c9f7-aef1-4636-ab9f-b604623e74bf",
      "name": "메뉴 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/select",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        2992
      ],
      "id": "05ae04d1-1235-46d7-8ab9-9e9cecda5064",
      "name": "메뉴 선택 입력",
      "webhookId": "fd01001c-food-select-0000-000000000001"
    },
    {
      "parameters": {
        "tableId": "restaurant_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).user_id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).restaurant_id }}"
            },
            {
              "fieldId": "menu_items",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).menu_name }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).location || '' }}"
            },
            {
              "fieldId": "matched_tags",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).tags || '' }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ ($input.first().json.body || $input.first().json).message || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        2992
      ],
      "id": "47506b75-6bd8-4943-9685-d3d18a84dfc6",
      "name": "방문 기록 저장",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '선택이 기록됐어요!' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2992
      ],
      "id": "66a07295-68c4-478d-8dae-23f5423dfb53",
      "name": "선택 응답 포맷"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preference_logits",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ ($('메뉴 선택 입력').item.json.body || $('메뉴 선택 입력').item.json).user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        2992
      ],
      "id": "menu-select-logit-01",
      "name": "메뉴선택 현재 로짓",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('메뉴 선택 입력').first().json;\nconst body = raw.body || raw;\nconst { user_id, category } = body;\nif (!category) return [{ json: { skipped: true } }];\nconst existing = $input.all().find(i => i.json.category === category);\nconst currentLogit = existing ? (existing.json.logit ?? 0) : 0;\nconst currentCount = existing ? (existing.json.sample_count ?? 0) : 0;\nreturn [{ json: {\n  user_id,\n  category,\n  logit: Math.round((currentLogit + 0.1) * 1000) / 1000,\n  sample_count: currentCount + 1,\n  updated_at: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        2992
      ],
      "id": "menu-select-logit-02",
      "name": "메뉴선택 로짓 계산"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/user_preference_logits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify([$json]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        2992
      ],
      "id": "menu-select-logit-03",
      "name": "메뉴선택 로짓 저장",
      "credentials": {
        "supabaseApi": {
          "id": "ZoISfiUUHP5TJ825",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        2992
      ],
      "id": "a74deda6-299f-4c8d-a8b1-5772f55fca59",
      "name": "선택 완료 출력"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food/feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        3392
      ],
      "id": "c36cb5a8-048a-4bed-973a-51d7f50a6cf2",
      "name": "피드백 입력",
      "webhookId": "fd010020-food-feedback-0000-000000000001"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://hauqlkowokezfxcgejzp.supabase.co/rest/v1/intent_logs?id=eq.' + ($input.first().json.body || $input.first().json).intent_log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_correct: ($input.first().json.body || $input.first().json).is_correct, true_path: ($input.first().json.body || $input.first().json).true_path || null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        3392
      ],
      "id": "866ae7b6-8972-472c-8a74-f02ee1e5c766",
      "name": "피드백 저장"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: '피드백 감사해요! 더 잘 추천할게요.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        3392
      ],
      "id": "e6e6fe41-8950-4645-8090-d475bc87aa2d",
      "name": "피드백 응답 포맷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        3392
      ],
      "id": "8cec8937-c65a-4b5f-98ae-ed890f6a67ab",
      "name": "피드백 완료 출력"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2048,
        2064
      ],
      "id": "4250c140-48c1-4265-9e33-75744d2290be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X1E7FW9bJRh1m0aC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "C: OpenAI 모델": {
      "ai_languageModel": [
        [
          {
            "node": "FR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 조회 입력": {
      "main": [
        [
          {
            "node": "메뉴 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 목록 조회": {
      "main": [
        [
          {
            "node": "메뉴 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 응답 포맷": {
      "main": [
        [
          {
            "node": "메뉴 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴 선택 입력": {
      "main": [
        [
          {
            "node": "방문 기록 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "방문 기록 저장": {
      "main": [
        [
          {
            "node": "메뉴선택 현재 로짓",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "선택 응답 포맷": {
      "main": [
        [
          {
            "node": "선택 완료 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 현재 로짓": {
      "main": [
        [
          {
            "node": "메뉴선택 로짓 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 로짓 계산": {
      "main": [
        [
          {
            "node": "메뉴선택 로짓 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메뉴선택 로짓 저장": {
      "main": [
        [
          {
            "node": "선택 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 입력": {
      "main": [
        [
          {
            "node": "피드백 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 저장": {
      "main": [
        [
          {
            "node": "피드백 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 응답 포맷": {
      "main": [
        [
          {
            "node": "피드백 완료 출력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22a00d82-7b75-494c-b68e-4e8111f2056d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e89c42f09ae18961e007576e3ff5ec17adf8c82e2ed99be8798b7043a1a4e8c"
  },
  "id": "tNRdQk9uhxe4GooE",
  "tags": []
}